html,
body {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Circe';
  src: url("/fonts/CirceRegular/Circe-Regular.eot"), url("/fonts/CirceRegular/Circe-Regular.eot?#iefix") format('embedded-opentype'), url("/fonts/CirceRegular/Circe-Regular.woff") format('woff'), url("/fonts/CirceRegular/Circe-Regular.ttf") format('truetype'), url("/fonts/CirceRegular/Circe-Regular.svg#webfont") format('svg');
  text-rendering: optimizeLegibility;
}
.flex {
  display: flex;
}
.flex.flex-row {
  flex-direction: row;
}
.flex.flex-column {
  flex-direction: column;
}
.flex.align-hor-center {
  justify-content: center;
}
.flex.align-ver-center {
  align-items: center;
}
a {
  text-decoration: none;
  color: #576076;
}
a:visited {
  text-decoration: none;
  color: #576076;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
  padding: 0.9rem 2.8rem;
  border-radius: 4px;
  background-color: transparent;
  border: solid 2px #8492af;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #8492af;
  position: relative;
  transition: color, border-color 0.3s ease;
  z-index: 1;
}
button:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: 0;
  left: 0;
  border-radius: 2px;
  background-color: #ff6955;
  transition: width 0.3s ease;
  height: 100%;
  width: 0%;
}
button:hover,
button:focus {
  color: #fff;
  border-color: #ff6955;
}
button:hover:before,
button:focus:before {
  width: 100%;
}
h1.title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  color: #fff;
}
h1.title.dark {
  color: #0e1a35;
}
@media screen and (min-width: 992px) {
  h1.title {
    font-size: 60px;
    font-weight: 100;
  }
}
h2.sub-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #8492af;
}
@media screen and (min-width: 992px) {
  h2.sub-title {
    width: 40rem;
    margin: auto;
    font-size: 18px;
    line-height: 1.33;
  }
}
.gradient {
  height: 6px;
  width: 100%;
  background-image: linear-gradient(to left, #4444b9, #ec523e);
}
.container {
  padding: 0 1.5rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  overflow-x: hidden;
}
body.navbar-expanded .mobile-nav {
  transform: translateY(0);
}
body.navbar-expanded #toggle-navbar {
  justify-content: center;
}
body.navbar-expanded #toggle-navbar .icon-bar:nth-child(1) {
  transform: rotate(-45deg) translateY(2px);
}
body.navbar-expanded #toggle-navbar .icon-bar:nth-child(2) {
  display: none;
}
body.navbar-expanded #toggle-navbar .icon-bar:nth-child(3) {
  transform: rotate(45deg) translateY(-2px);
}
.mobile-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  transform: translateY(-100%);
  background-color: #0e1a35;
  z-index: 1;
  padding: 2rem 0;
  overflow-y: auto;
}
.mobile-nav .menu-list {
  padding-top: 2rem;
}
.mobile-nav .menu-list .menu-item {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 3.75;
  font-weight: 400;
}
.mobile-nav .menu-list .menu-item:hover a {
  color: #fff;
}
header {
  position: absolute;
}
header nav {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
header nav .container {
  padding-left: 1rem;
}
header nav .menu-container {
  display: none;
}
header nav .logo-container {
  display: flex;
  align-items: center;
}
header nav .logo {
  margin-right: 0.5rem;
  width: 43px;
  height: 48px;
  background: linear-gradient(155deg, #ec523e 0%, #4444b9 80%);
  -webkit-mask-image: url("/images/svg/alt-logo.svg");
  mask-image: url("/images/svg/alt-logo.svg");
}
header nav .logo-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header nav .logo-text-container .logo-text {
  margin-bottom: 3px;
}
header nav .logo-text-container .company-subname {
  font-family: Circe;
  text-transform: uppercase;
  font-size: 6.9px;
  line-height: 1.59;
  letter-spacing: 2.4px;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 768px) {
  header {
    width: 100%;
  }
  header .container {
    width: 100%;
  }
  header nav {
    justify-content: space-between;
  }
  header nav .logo {
    width: 52px;
    height: 59px;
  }
  header nav .logo-text-container {
    display: none;
  }
  header nav .menu-container {
    display: block;
  }
  header nav .menu-container .menu-list {
    display: flex;
  }
  header nav .menu-container .menu-list .menu-item {
    cursor: pointer;
    position: relative;
    padding: 0 1rem;
  }
  header nav .menu-container .menu-list .menu-item a {
    font-weight: 400;
    color: #fff;
  }
  header nav .menu-container .menu-list .menu-item:after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 6px;
    width: 0%;
    right: 0;
    margin: auto;
    transition: width 0.3s ease;
    background-image: linear-gradient(to left, #ec523e, #4444b9);
  }
  header nav .menu-container .menu-list .menu-item:hover:after {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  header .container {
    padding: 1rem 2rem;
  }
  header nav {
    align-items: stretch;
  }
  header nav .logo {
    margin-right: 1rem;
  }
  header nav .logo-text-container {
    display: flex !important;
  }
  header nav .logo-text-container .logo-text {
    width: 113px;
    height: 26px;
  }
  header nav .logo-text-container .company-subname {
    font-size: 10px;
    line-height: 1.59;
    letter-spacing: 3.5px;
  }
}
header #toggle-navbar {
  background-color: transparent;
  border: none;
  position: fixed;
  z-index: 2;
  top: 1.6rem;
  right: 1rem;
  height: 1.4rem;
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header #toggle-navbar .icon-bar {
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #fff;
  transition: transform 0.3s ease;
}
@media screen and (min-width: 768px) {
  header #toggle-navbar {
    display: none;
  }
}
.menu-list .menu-item {
  font-size: 15px;
  line-height: 3;
  letter-spacing: 0.3px;
  text-align: center;
  color: #8492af;
  transition: color 0.3s ease;
}
.menu-list .menu-item:hover {
  color: #c3cee4;
}
footer {
  padding: 2rem 0;
  background-color: #0e1a35;
}
footer .subscribe h1 {
  margin: 2rem 0;
  font-size: 18px;
  text-align: center;
  color: #f3f8ff;
}
footer .subscribe .subscribe-form {
  display: flex;
  flex-direction: row;
}
footer .subscribe .subscribe-form input {
  border-radius: 4px 0 0 4px;
  background-color: #0e1a35;
  border: solid 1px #576076;
  padding: 1rem;
  color: #576076;
  flex: 1;
}
footer .subscribe .subscribe-form input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.3px;
  color: rgba(90,99,121,0.5);
}
footer .subscribe .subscribe-form button {
  position: relative;
  left: -1px;
  border-radius: 0 4px 4px 0;
  background-color: #576076;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.3px;
  color: #fff;
  border: none;
}
footer .subscribe .subscribe-form button:before {
  background-color: #8492af;
}
footer .contacts {
  margin: 2rem auto;
  width: 11rem;
  font-size: 13px;
  text-align: center;
  color: #576076;
}
footer .contacts p {
  margin: 0;
}
footer .contacts address {
  font-style: normal;
  margin-bottom: 1rem;
}
footer .copyright {
  font-size: 13px;
  line-height: 2.31;
  text-align: center;
  color: #5a6379;
}
footer .copyright.desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  footer .subscribe-form {
    width: 20rem;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  footer .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .container .menu-container .menu-list {
    display: flex;
  }
  footer .container .menu-container .menu-list .menu-item {
    margin: 0 1rem;
  }
  footer .container .menu-container .menu-list .menu-item:hover a {
    color: #fff;
  }
  footer .container .contacts {
    margin: 0;
    text-align: left;
  }
  footer .container .subscribe h1 {
    text-align: left;
    margin: 0 0 1rem 0;
  }
  footer .container .copyright.desktop {
    display: block;
    text-align: left;
    margin-left: 1rem;
  }
  footer .container .copyright.mobile {
    display: none;
  }
}
#services-page header {
  width: 100%;
  background: #0e1a35;
  padding-bottom: 1rem;
}
#services-page #description {
  padding-top: 7rem;
  padding-bottom: 1rem;
}
#services-page #description h2.sub-title {
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  #services-page #description {
    padding-bottom: 3rem;
  }
  #services-page #description h1.title {
    margin-bottom: 1rem;
    font-size: 48px;
  }
  #services-page #description h2.sub-title {
    width: 100%;
    margin: auto;
  }
}
#services-page #service-description {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  text-align: center;
  color: #8492af;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
#services-page #service-table {
  width: 100%;
}
#services-page #service-table .swipeshow {
  height: auto;
}
#services-page #service-table .swipeshow .slide {
  height: auto;
  position: static;
}
#services-page #service-table .swipeshow .slides {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#services-page #service-table .services-titles {
  display: none;
}
#services-page #service-table .services-slides {
  width: 100%;
}
#services-page #service-table .slide-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #f3f8ff;
}
#services-page #service-table .slide-header-container .slide-left,
#services-page #service-table .slide-header-container .slide-right {
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
  border: solid 2px #778ab4;
  transition: border-color 0.3s ease;
}
#services-page #service-table .slide-header-container .slide-left:hover,
#services-page #service-table .slide-header-container .slide-right:hover {
  border: solid 2px #576076;
}
#services-page #service-table .slide-header-container .slide-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#services-page #service-table .slide-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafc;
  border-top: solid 1px #e3eaf3;
  padding: 1rem;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-align: left;
  color: #8492af;
}
#services-page #service-table .slide-option.footer {
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  background-color: #576076;
  transition: background-color 0.3s ease;
}
#services-page #service-table .slide-option.footer a {
  text-align: center;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.3px;
  font-weight: 400;
}
#services-page #service-table .slide-option.footer:hover {
  background-color: #8492af;
}
#services-page #service-table .slide-option.button {
  justify-content: center;
  padding: 2rem;
}
#services-page #service-table .slide-option .option-name {
  padding-right: 2rem;
}
#services-page #service-table .slide-option .option-value {
  min-width: 5rem;
  text-align: right;
}
#services-page #service-table .slide-option .option-checkbox {
  min-width: 1rem;
  min-height: 1rem;
  border-radius: 50%;
  opacity: 0.2;
  background-color: #8492af;
}
#services-page #service-table .slide-option .option-checkbox.checked {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  #services-page #service-table {
    width: 90%;
    margin: auto;
    display: flex;
    border-radius: 4px;
    background-color: #f3f8ff;
    border: solid 1px #e3eaf3;
  }
  #services-page #service-table .services-titles {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 18rem;
  }
  #services-page #service-table .services-titles .title-option,
  #services-page #service-table .services-titles .title-header {
    background-color: #f3f8ff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-align: left;
    color: #8492af;
    border-top: 1px solid #e3eaf3;
  }
  #services-page #service-table .services-titles .title-option {
    padding: 1rem;
  }
  #services-page #service-table .services-titles .title-header {
    height: 172px;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  #services-page #service-table .services-titles .title-option.last {
    flex: 1;
  }
  #services-page #service-table .title-option,
  #services-page #service-table .slide-option {
    height: 62px;
    display: flex;
    align-items: center;
  }
  #services-page #service-table .title-option.button,
  #services-page #service-table .slide-option.button,
  #services-page #service-table .title-option.footer,
  #services-page #service-table .slide-option.footer {
    height: auto;
  }
  #services-page #service-table .swipeshow {
    flex: 1;
  }
  #services-page #service-table .swipeshow .slide-option {
    justify-content: center;
  }
  #services-page #service-table .swipeshow .slide-option .option-value {
    text-align: center;
  }
  #services-page #service-table .swipeshow .slide-option .option-name {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  #services-page #service-table .services-titles {
    flex: 0;
    min-width: 15rem;
    border-right: 1px solid #e3eaf3;
  }
  #services-page #service-table .swipeshow .slides {
    width: auto !important;
    transform: none !important;
  }
  #services-page #service-table .swipeshow .slide {
    width: 100%;
    visibility: visible;
    border-right: 1px solid #e3eaf3;
  }
  #services-page #service-table .slide-left,
  #services-page #service-table .slide-right {
    display: none;
  }
}
#landing {
  padding-top: 3rem;
  height: 100%;
  background-image: url("/photos/landing.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 992px) {
  #landing {
    padding-top: 0;
  }
}
#info {
  padding: 4rem 0;
}
#info .main-title {
  width: 11rem;
  margin: 1rem auto;
}
#services {
  flex-direction: column;
}
#services .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f3f8ff;
  border: solid 1px #e3eaf3;
}
#services .service-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#services .service-image {
  margin: 0 auto;
}
#services .service-title {
  font-size: 18px;
  font-weight: bold;
  margin: 1rem 0 0 0;
  letter-spacing: 0.4px;
}
#services .service-subtitle {
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.3px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  #services .container {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  #services .service-description {
    width: 23rem;
  }
  #services .service-description h1,
  #services .service-description h2 {
    text-align: left;
  }
  #services .service-description button {
    width: 13rem;
  }
  #services .service-image {
    margin: 0 3rem 0 0;
  }
}
@media screen and (min-width: 992px) {
  #services {
    flex-direction: row;
    justify-content: center;
  }
  #services .container.service {
    width: 19rem;
    margin: 0 2rem;
    flex-direction: column;
  }
  #services .container.service .service-description {
    align-items: center;
    width: 100%;
  }
  #services .container.service .service-description h1.title {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  #services .container.service .service-description h2.sub-title {
    width: auto;
    text-align: center;
  }
  #services .container.service .service-image {
    margin: auto;
  }
}
#about-services {
  padding: 2rem 1rem 4rem 1rem;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: #8492af;
}
@media screen and (min-width: 768px) {
  #about-services {
    width: 35rem;
    margin: auto;
    font-size: 18px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 992px) {
  #about-services {
    margin-top: 2rem;
  }
}
#guarantee {
  padding: 2rem 0;
  background-color: #0e1a35;
}
#guarantee .sub-title {
  color: #576076;
}
#guarantee .features-container {
  margin: 4rem 0;
}
#guarantee .features-container .feature {
  padding: 0 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#guarantee .features-container .feature img {
  min-width: 68px;
  min-height: 76px;
  margin-right: 1rem;
}
#guarantee .features-container .feature span {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: #fefefe;
}
@media screen and (min-width: 768px) {
  #guarantee .title {
    font-size: 48px;
    font-weight: 100;
    line-height: 1;
  }
  #guarantee .sub-title {
    font-size: 18px;
    font-weight: 300;
  }
  #guarantee .features-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #guarantee .features-container .feature {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  #guarantee .features-container {
    justify-content: center;
  }
  #guarantee .features-container .feature {
    width: 24rem;
  }
}
#portfolio {
  padding: 4rem 0;
}
