doctype html
html(lang="en")
	include ../../parts/head
	+head("Staff Augmentation | Uneed Web", "Team Extension, Dedicated Team, Outstaffing, Benefits of offshore software development", "How to add staff without bearing the cost and liabilities of additional full time employees? 36% of organizations who outsource effectively are convinced this could be achieved with a staff augmentation model.")

	body
		.page-wrapper

			include ../../parts/b-header
			+b-header("services-slide")

			main.page-content

				section.section.section--without-padding-bottom
					.section__wrapper.section__wrapper--margin-left-only
						.switcher.switcher--left
							a.switcher__btn.switcher__btn--prev(href="/services/outsource/b-index.html")
								include ../../icons/left-arrow
							a.switcher__name(href="/services/outsource/b-index.html") Project Development
							a.switcher__name.switcher__name--active(href="/services/outstaff/b-index.html") Staff Augmentation
							a.switcher__name(href="/services/relocation/b-index.html") Relocation Specialist
							a.switcher__btn.switcher__btn--next(href="/services/relocation/b-index.html")
								include ../../icons/left-arrow

						section.section.section--without-padding-top.section--small-padding-bottom.section--slide.section--slide-team
							h2.section__title.section__title--text-left Staff Augmentation
							p.section__text.section__text--text-left.section__text--with-margin-bottom How to add staff without bearing the cost and liabilities of additional full time employees?<br>36% of organizations who outsource effectively are convinced that this could be achieved with a staff augmentation model.
							p.section__text.section__text--text-left.section__text--with-margin-bottom Uneed Web provides this cost-effective model for businesses that require high-quality, efficient resources within an optimized time frame. You get control over the selection and management of your dedicated IT team with flexible workload and scope.
							p.section__text.section__text--text-left.section__text--with-margin-bottom While you focus on your projects, we will take care of all time-consuming tasks and ensure clear communication between your in-house team and offshore team.
							p.section__text.section__text--text-left.section__text--with-margin-bottom You do 5%, we do the remaining 95% for you.
							a.section__btn.btn(href="/services/b-index.html") Services comparison
								include ../../icons/arrow-go

			section.section.section--without-padding-top.section--without-padding-bottom.section--main-color.workflow.workflow--team
					.workflow__wrapper
						.workflow__inner.workflow__inner--right
							h3.workflow__title You do
							ul.workflow__list.workflow__list
								li.workflow__item.workflow__item--color-1.workflow__item--tablet-color-1.workflow__item--items-opposite-after-4
									span Provide a number and a skill set of required IT experts
								li.workflow__item.workflow__item--color-2.workflow__item--tablet-color-6.workflow__item--items-opposite-after-1
									span Evaluate and approve team
								li.workflow__item.workflow__item--color-3.workflow__item--tablet-color-8
									span Assign project tasks
								li.workflow__item.workflow__item--color-4.workflow__item--tablet-hidden
									span Renew the contract
						.workflow__inner.workflow__inner--left
							h3.workflow__title We do
							ul.workflow__list.workflow__list
								li.workflow__item.workflow__item--color-5.workflow__item--tablet-color-2.workflow__item--items-opposite-before-1
									span Candidates market overview in 24 hours
								li.workflow__item.workflow__item--color-6.workflow__item--tablet-color-3
									span Conduct recruitment process to check candidates’ personal skills and language proficiency
								li.workflow__item.workflow__item--color-7.workflow__item--tablet-color-4
									span Conduct technical interviews
								li.workflow__item.workflow__item--color-8.workflow__item--tablet-color-5.workflow__item--items-opposite-after-1
									span Suggest candidates and schedule an interview with your team
								li.workflow__item.workflow__item--color-9.workflow__item--tablet-color-7.workflow__item--items-opposite-after-1
									span Provide workspace, facilities and technical equipment
								li.workflow__item.workflow__item--color-10.workflow__item--tablet-color-9
									span Take care of daily administrative things

				section.section
					.section__wrapper
						h2.section__title Result
						p.section__text You get well-qualified team member, clean and robust code and successfully implemented product

			include ../../parts/b-footer
			+b-footer("services-slide")

		script.
			(function() {
				var navMain = document.querySelector('.main-nav');
				var navToggle = document.querySelector('.main-nav__toggle');

				navMain.classList.remove('main-nav--nojs');

				navToggle.addEventListener('click', function() {
					if (navMain.classList.contains('main-nav--closed')) {
						navMain.classList.remove('main-nav--closed');
						navMain.classList.add('main-nav--opened');
					} else {
						navMain.classList.remove('main-nav--opened');
						navMain.classList.add('main-nav--closed');
					}
				});
			})();