footer.page-footer
	include b-main-nav
	.page-footer__subscribe.subscribe
		h2.subscribe__title
		form.subscribe__form
			.subscribe__input-wrapper
				.input-box
					input(type="email" placeholder="Enter your email")
				button.btn(type="submit")
	.page-footer__contact
		address.page-footer__address Kiev, Ukraine, 02140, Bazhana Ave 24/1
		span.page-footer__phone
			a(href="tel:380955914765") +38 095 591 4765
		span.page-footer__email
			a(href="mailto:info@uneedweb.com?subject=Contact UNeed Web") info@uneedweb.com
	.page-footer__copyrights &copy; 2017 UNeed Web All Right Reserved