footer
	.container
		.menu-container
			include menu
			.copyright.desktop
				p
					| &copy; 2017 UNeed Web All Rights Reserved
		.subscribe
			h1 Get in touch with us
			.subscribe-form
				input(type="text" placeholder="Enter your email")
				button(role="button") OK
		.contacts
			address Kiev, Ukraine, 02140, Bazhana Ave 24/1
			p
				span Tel:
				a(href="tel:380955914765") +38 095 591 4765
			p
				span Email:
				a(href="mailto:info@uneedweb.com?subject=Contact UNeed Web") info@uneedweb.com

		.copyright.mobile
			p
				| &copy; 2017 UNeed Web All Right Reserved

	script(type="text/javascript").
		var navbarButton = document.getElementById('toggle-navbar');
		var body = document.getElementsByTagName('body')[0];
		navbarButton.addEventListener('click', function() {
			body.classList.toggle('navbar-expanded');
		});

	//- <!-- Google Analytics -->
	//- script(type="text/javascript").
	//- 	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	//- 	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	//- 	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	//- 	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	//- 	ga('create', 'UA-104636478-1', 'auto');
	//- 	ga('send', 'pageview');
	//- //- <!-- End Google Analytics -->
	//- //- // Yandex.Metrika counter
	//- script(type='text/javascript').
	//- 	(function (d, w, c) {
	//- 	(w[c] = w[c] || []).push(function() {
	//- 	try {
	//- 	w.yaCounter46037448 = new Ya.Metrika({
	//- 	id:46037448,
	//- 	clickmap:true,
	//- 	trackLinks:true,
	//- 	accurateTrackBounce:true
	//- 	});
	//- 	} catch(e) { }
	//- 	});
	//- 	var n = d.getElementsByTagName("script")[0],
	//- 	s = d.createElement("script"),
	//- 	f = function () { n.parentNode.insertBefore(s, n); };
	//- 	s.type = "text/javascript";
	//- 	s.async = true;
	//- 	s.src = "https://mc.yandex.ru/metrika/watch.js";
	//- 	if (w.opera == "[object Opera]") {
	//- 	d.addEventListener("DOMContentLoaded", f, false);
	//- 	} else { f(); }
	//- 	})(document, window, "yandex_metrika_callbacks");
	//- noscript
	//- 	div
	//- 		img(src='https://mc.yandex.ru/watch/46037448', style='position:absolute; left:-9999px;', alt='')
	//- // /Yandex.Metrika counter