footer
	.container
		.menu-container
			include menu
			.copyright.desktop
				p
					| &copy; 2017 UNeed Web All Right Reserved
		.subscribe
			h1 Keep up to date with us
			.subscribe-form
				input(type="text" placeholder="Enter your email")
				button(role="button") OK
		.contacts
			address Kiev, Ukraine, 02140, Bazhana Ave 24/1
			p
				span Tel:
				a(href="tel:380955914765") +38 099 4612335
			p
				span Email:
				a(href="mailto:info@uneedweb.com?subject=Contact UNeed Web") info@uneedweb.com

		.copyright.mobile
			p
				| &copy; 2017 UNeed Web All Right Reserved