// Google Tag Manager (noscript)
noscript
	iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PW9LSKQ', height='0', width='0', style='display:none;visibility:hidden')
// End Google Tag Manager (noscript)
header
	.container
		nav
			a(href="/").logo-container
				.logo
					include ../icons/logo
				.logo-text-container
					include ../icons/logo-text
			.menu-container
				include menu
#toggle-navbar
	.icon-bar
	.icon-bar
	.icon-bar