header
	.container
		nav
			.logo-container
				.logo(src="/images/svg/alt-logo.svg")
				.logo-text-container
					img.logo-text(src="/images/svg/logo-text.svg" width="74" height="16")
					.company-subname You Need Web
			.menu-container
				include menu
		#toggle-navbar
			.icon-bar
			.icon-bar
			.icon-bar