script(type="text/javascript").
	$(window).ready(function() {
		var toBeLoaded = {},
			imageCount = 0,
			imageToBeLoaded = [];

		function checkIfLoading() {
			if(imageCount === 0) {
				setTimeout(function() {
					$('body').addClass('content-loaded');
				}, 1000);
			}
		}

		$(document).find('*').each(function() { 
			var imageUrl = $(this).css('backgroundImage');
			var	valuePattern = /url\(\s*(['"]?)(.*?)\1\s*\)/g,
				keyPattern = /photos\/(['"]?)(.*?)\1\s*\)/g;
			if(imageUrl !== "none") {
				var key = keyPattern.exec(imageUrl),
					value = valuePattern.exec(imageUrl);

				if(key !== null && value !== null) {
					toBeLoaded[key[2]] = value[2];
					imageToBeLoaded.push(value[2]);
				}
			}
		});

		imageCount = imageToBeLoaded.length;

		checkIfLoading();

		imageToBeLoaded.forEach(function(src) {
			var image = new Image();
			image.onload = function() {
				imageCount--;
				checkIfLoading();
			};
			image.onerror = function() {
				imageCount--;
				checkIfLoading();
			};
			if (image.complete && image.naturalHeight !== 0) {
				imageCount--;
				checkIfLoading();
				image.onload = undefined;
				image.onerror = undefined;
			}
			image.src =	src;
		});
	});