doctype html
html(lang="en")
	include parts/b-head
	+head("Remote software development | UNeed Web", "offshore software development, web development outsourcing, web design outsourcing", "Bringing cohesion, integration and outreach for your business with forefront IT services. We craft web and mobile projects, enliven them with design.")
	body
		.page-wrapper

			include parts/b-header
			+b-header("main", "Distinctive Web Development", "Shaping your tech ideas with smart engineering, creating an outreach for your business.")

			main.page-content#main

				section.section
					.section__wrapper
						h2.section__title Our Services
						p.section__text Depending on time, budget, scope, and complexity of your projects we provide 3 options to help your business maintain, extend and acquire qualitative IT resources.

				section.section.section--without-title
					.services
						ul.services__list
							li.services__item.services__item--project
								.services__item-wrapper
									h3.services__title Project Development
									span.services__recommend recommended for
									ul.services__recommends-list
										li.services__recommends-item
											include icons/checkmark
											span short-term projects
										li.services__recommends-item
											include icons/checkmark
											span fixed cost/time or budget
										li.services__recommends-item
											include icons/checkmark
											span small to middle scale
									a.services__link.btn(href="#") Get more info
							li.services__item.services__item--team
								.services__item-wrapper
									h3.services__title Dedicated Development Team
									span.services__recommend recommended for
									ul.services__recommends-list
										li.services__recommends-item
											include icons/checkmark
											span direct control over project stages
										li.services__recommends-item
											include icons/checkmark
											span full-time engagement of IT experts to your project
									a.services__link.btn(href="#") Get more info
							li.services__item.services__item--relocation
								.services__item-wrapper
									h3.services__title Specialist for Relocation
									span.services__recommend recommended for
									ul.services__recommends-list
										li.services__recommends-item
											include icons/checkmark
											span limited recruitment capabilities
										li.services__recommends-item
											include icons/checkmark
											span building/extending your IT department
									a.services__link.btn(href="#") Get more info
					.section__wrapper
						p.section__text Learn more about each of these options and their difference 
							a.link(href="/services") here

				section.section.section--dark.section--blue.section--bottom-with-gradient
					.section__wrapper
						h2.section__title Our Added Value
						p.section__text With delivering what we do the best: development and design of software we provide our customers with
						.features
							.features__wrapper
								ul.features__list
									li.features__item.features-item.features-item--icon-left
										include icons/1-quality
										span.features-item__descr Outstanding quality
									li.features__item.features-item.features-item--icon-left
										include icons/2-english
										span.features-item__descr Specialist with proficient technical and language skills
									li.features__item.features-item.features-item--icon-left
										include icons/3-office
										span.features-item__descr Protected intellectual property rights
									li.features__item.features-item.features-item--icon-left
										include icons/4-meeting
										span.features-item__descr Personal meetings and direct comunication
									li.features__item.features-item.features-item--icon-left
										include icons/5-seniors
										span.features-item__descr Candidates market overview within 24 hours
									li.features-item.features-item--icon-left
										include icons/6-risk
										span.features-item__descr Long-term partnership

				section.section
					.section__wrapper
						h2.section__title Our Expertise
						p.section__text Our team is comprised of devoted professionals who have expertise in multiple areas. We build web products that work and last, advance your customer journey, target and keep your customers in the loop.
						.slider
							.slider__switcher
							ul.slider__slides-wrapper
								li.slider__slide
									.slider__slide-inner.portfolio-item
										p.portfolio-item__descr Developing customized web products is our core competence. We bring online presence to businesses by creating applications that resemble services and products as a distinctive brand. Our experienced team of developers organize and structure both front-end and back-end to create smooth and intuitive navigation for browsing as well as rich user experience.
										ul.portfolio-item__tags-list
											li.tag React JS
											li.tag Angular JS
											li.tag JavaScript
											li.tag CSS
											li.tag HTML
										.portfolio-item__img-wrapper
											img(src="" alt="")
										a.portfolio-item__link.btn(href="/portfolio") Go to portfolio
											include icons/arrow-go
								li.slider__slide
									.slider__slide-inner.portfolio-item
										p.portfolio-item__descr Uneed Web builds mobile applications by using cross-platform mobile application development. It enables you to have one codebase and to customize for multiple platforms, brings cost-effectiveness and simplicity once changes and synchronization are applied.
										ul.portfolio-item__tags-list
											li.tag ReactJS Native
											li.tag Ionic
											li.tag Xamarin Framework
										.portfolio-item__img-wrapper
											img(src="" alt="")
										a.portfolio-item__link.btn(href="/portfolio") Go to portfolio
											include icons/arrow-go
								li.slider__slide
									.slider__slide-inner.portfolio-item
										p.portfolio-item__descr Uneed Web creates a unique product web design to match you company’s unique brand. A customized web design which is search engine friendly, stands out from your competitors and focuses on your customers. To optimize your customers browsing experience we create sites and systems based on responsive design.
										ul.portfolio-item__tags-list
											li.tag Sketch
											li.tag Adobe Photoshop
											li.tag Adobe Illustrator
											li.tag Interfaces
											li.tag Web Design \ UX
										.portfolio-item__img-wrapper
											img(src="" alt="")
										a.portfolio-item__link.btn(href="/portfolio") Go to portfolio
											include icons/arrow-go
			include parts/b-footer
		script.
			(function() {
				var navMain = document.querySelector('.main-nav');
				var navToggle = document.querySelector('.main-nav__toggle');

				navMain.classList.remove('main-nav--nojs');

				navToggle.addEventListener('click', function() {
					if (navMain.classList.contains('main-nav--closed')) {
						navMain.classList.remove('main-nav--closed');
						navMain.classList.add('main-nav--opened');
					} else {
						navMain.classList.remove('main-nav--opened');
						navMain.classList.add('main-nav--closed');
					}
				});
			})();