doctype html
html(lang="en")
	include parts/b-head
	+head("Web development company | Uneed Web", "offshore software development, web development outsourcing, web design outsourcing", "Uneed Web is a web development company. We shape your tech ideas with smart engineering, create an outreach for your business, provide an access to talents that adds value.")
	body
		.page-wrapper

			include parts/b-header
			+b-header("hp")

			main.page-content#main

				section.section
					.section__wrapper
						h2.section__title Our Services
						p.section__text Depending on time, budget, scope, and complexity of your projects we provide 3 options to help shape your tech endeavors by providing IT services as well as extending, relocating of dedicated IT resources.

				section.section.section--without-title
					.services
						ul.services__list
							li.services__item.services__item--project
								.services__item-wrapper
									h3.services__title Project Development
									span.services__recommend recommended for
									ul.services__recommends-list
										li.services__recommends-item
											include icons/checkmark
											span short-term projects
										li.services__recommends-item
											include icons/checkmark
											span fixed cost/time or budget
										li.services__recommends-item
											include icons/checkmark
											span small to middle scale
									a.services__link.btn(href="#") Get more info
							li.services__item.services__item--team
								.services__item-wrapper
									h3.services__title Staff Augmentation
									span.services__recommend recommended for
									ul.services__recommends-list
										li.services__recommends-item
											include icons/checkmark
											span non-time-bound projects
										li.services__recommends-item
											include icons/checkmark
											span app development across diverse technology verticals
									a.services__link.btn(href="#") Get more info
							li.services__item.services__item--relocation
								.services__item-wrapper
									h3.services__title Relocation Specialist
									span.services__recommend recommended for
									ul.services__recommends-list
										li.services__recommends-item
											include icons/checkmark
											span limited recruitment capabilities
										li.services__recommends-item
											include icons/checkmark
											span extension of in-house application development teams
									a.services__link.btn(href="#") Get more info
					.section__wrapper
						p.section__text Learn more about each of these options and their difference 
							a.link(href="/services") here

				section.section.section--main-color.section--bottom-with-gradient
					.section__wrapper
						h2.section__title Our Added Value
						p.section__text With delivering what we are most adept at - Distinctive Web Development - we provide our customers with
						.main-features
							.main-features__wrapper
								ul.main-features__list
									li.main-features__item.main-features-item.main-features-item--icon-left
										include icons/1-quality
										span.main-features-item__descr Thorough process-related involvement 
									li.main-features__item.main-features-item.main-features-item--icon-left
										include icons/2-english
										span.main-features-item__descr Specialist with proficient technical and language skills
									li.main-features__item.main-features-item.main-features-item--icon-left
										include icons/3-office
										span.main-features-item__descr Protected intellectual property rights
									li.main-features__item.main-features-item.main-features-item--icon-left
										include icons/4-meeting
										span.main-features-item__descr Personal meetings and direct comunication
									li.main-features__item.main-features-item.main-features-item--icon-left
										include icons/5-seniors
										span.main-features-item__descr Candidates market overview within 24 hours
									li.main-features-item.main-features-item--icon-left
										include icons/6-risk
										span.main-features-item__descr Competence with fair value

				section.section.section--small-padding-bottom
					.section__wrapper
						h2.section__title Our Expertise
						p.section__text Our team is comprised of devoted professionals who have expertise in multiple areas. We build web products that work and last, advance your customer journey, target and keep your customers in the loop.
				section.section.section--without-padding-top.section--small-padding-bottom
					.section__wrapper.section__wrapper--tight
						.slider
							.slider__switcher.switcher
								button.switcher__btn.switcher__btn--prev(type="button")
									include icons/left-arrow
								h3.switcher__name.switcher__name--active Web Development
								h3.switcher__name Mobile Development
								h3.switcher__name Product Design
								button.switcher__btn.switcher__btn--next(type="button")
									include icons/left-arrow
							ul.slider__slides-wrapper
								li.slider__slide
									.slider__slide-inner.portfolio-item.portfolio-item--web
										p.portfolio-item__descr Developing customized web products is our core competence. We bring online presence to businesses by creating applications that resemble services and products as a distinctive brand. Our experienced team of developers organize and structure both front-end and back-end to create smooth and intuitive navigation for browsing as well as rich user experience.
										ul.portfolio-item__tags.tags
											li.tags__item React JS
											li.tags__item Angular JS
											li.tags__item JavaScript
											li.tags__item CSS
											li.tags__item HTML
										a.portfolio-item__btn.btn(href="/portfolio/b-index.html") Go to portfolio
								li.slider__slide
									.slider__slide-inner.portfolio-item.portfolio-item--mobile
										p.portfolio-item__descr Uneed Web builds mobile applications by using cross-platform mobile application development. It enables you to have one codebase and to customize for multiple platforms, brings cost-effectiveness and simplicity once changes and synchronization are applied.
										ul.portfolio-item__tags.tags
											li.tags__item ReactJS Native
											li.tags__item Ionic
											li.tags__item Xamarin Framework
										a.portfolio-item__btn.btn(href="/portfolio/b-index.html") Go to portfolio
								li.slider__slide
									.slider__slide-inner.portfolio-item.portfolio-item--design
										p.portfolio-item__descr Uneed Web creates a unique product web design to match you company’s unique brand. A customized web design which is search engine friendly, stands out from your competitors and focuses on your customers. To optimize your customers browsing experience we create sites and systems based on responsive design.
										ul.portfolio-item__tags.tags
											li.tags__item Sketch
											li.tags__item Adobe Photoshop
											li.tags__item Adobe Illustrator
											li.tags__item Interfaces
											li.tags__item Web Design \ UX
										a.portfolio-item__btn.btn(href="/portfolio/b-index.html") Go to portfolio
							.slider__dots
								button.slider__dot.slider__dot--active(type="button")
								button.slider__dot(type="button")
								button.slider__dot(type="button")
						a.section__btn.section__btn--hidden-on-desktop.btn(href="/portfolio/b-index.html") Go to portfolio
							include icons/arrow-go
			include parts/b-footer
			+b-footer("hp")
		script.
			(function() {
				var navMain = document.querySelector('.main-nav'),
						navToggle = document.querySelector('.main-nav__toggle');

				navMain.classList.remove('main-nav--nojs');

				navToggle.addEventListener('click', function() {
					if (navMain.classList.contains('main-nav--closed')) {
						navMain.classList.remove('main-nav--closed');
						navMain.classList.add('main-nav--opened');
					} else {
						navMain.classList.remove('main-nav--opened');
						navMain.classList.add('main-nav--closed');
					}
				});
			})();

			(function () {
				var slider = document.querySelector('.slider'),
						slidesWrapper = slider.querySelector('.slider__slides-wrapper'),
						slideItems = slider.querySelectorAll('.slider__slide'),
						slidesCount = slideItems.length,
						sliderStepValue = 100/slidesCount,
						slideCurrent = 1,
						slideNames = slider.querySelectorAll('.switcher__name'),
						sliderPrev = slider.querySelector('.switcher__btn--prev'),
						sliderNext = slider.querySelector('.switcher__btn--next'),
						sliderDots = slider.querySelectorAll('.slider__dot');

				function slideChange (index) {
					var	sliderTransValue = (index-1)*sliderStepValue;
					slidesWrapper.style.transform = 'translateX(-'+sliderTransValue+'%)';
					sliderDots[slideCurrent-1].classList.remove('slider__dot--active');
					sliderDots[index-1].classList.add('slider__dot--active');
					slideNames[slideCurrent-1].classList.remove('switcher__name--active');
					slideNames[index-1].classList.add('switcher__name--active');
					slideCurrent = index;
				};

				sliderPrev.addEventListener('click', function () { 
					if (slideCurrent > 1) {
						slideChange(slideCurrent-1);
					}
				});

				sliderNext.addEventListener('click', function () {
					if (slideCurrent < slidesCount) {
						slideChange(slideCurrent+1);
					}
				});

				slideNames.forEach(function (item, index) {
					slideNames[index].addEventListener('click', function () {
						slideChange(index+1);
					});
				});

				sliderDots.forEach(function (item, index) {
					sliderDots[index].addEventListener('click', function () {
						slideChange(index+1);
					});
				});
			})();