doctype html
html(lang="en")
	include parts/head
	body#about-page
		include parts/header
		include parts/mobile-nav

		section#landing.flex.align-ver-center
			.container
				//- h1.title(class="typewrite" data-period="1000" data-type='[ "Web Development Company", "Software Development Company" ]')
					span.wrap
				h1.title Web Development Company
				h2.sub-title Where quality is trend and digital progress an outcome
				a.learn-more(href="/services")
					button.white(role="button") Learn More
			.scroll-down

		section#info.flex.align-ver-center
			.container
				h1.title.dark Our Services
				h2.sub-title We provide 3 options to help your business maintain, extend and acquire <b>qualitative IT resources</b>

		section#services.flex.align-ver-center
			.container.service.flex.flex-column.align-ver-center
				img.service-image(src="/images/gif/outsource.gif" width="100" height="100")
				.service-description
					h1.title.dark.service-title Development of the Project
					h2.sub-title.service-subtitle recommended for
					ul.service-list
						li short term projects
						li fixed cost/time or budget
						li small to middle scale projects
					a(href="/services/outsource")
						button(role="button") Get more info

			.container.service.flex.flex-column.align-ver-center
				img.service-image(src="/images/gif/outstaff.gif" width="100" height="100")
				.service-description
					h1.title.dark.service-title Dedicated Development Team
					h2.sub-title.service-subtitle recommended for
					ul.service-list
						li medium/large scale projects
						li full-cycle development and maintenance
					a(href="/services/outstaff")
						button(role="button") Get more info

			.container.service.flex.flex-column.align-ver-center
				img.service-image(src="/images/gif/relocation.gif" width="100" height="100")
				.service-description
					h1.title.dark.service-title Developer for relocation
					h2.sub-title.service-subtitle recommended for
					ul.service-list
						li building/extending your IT department
						li limited recruitment capabilities
					a(href="/services/relocation")
						button(role="button") Get more info

		section#about-services.flex.align-ver-center
			.container
				| Learn more about each of these options and their difference 
				a.underlined(href="/services") HERE
		section#guarantee.flex.align-ver-center
			.container
				h1.title We provide our customers with
				.features-container
					.feature
						include icons/1-quality
						span Outstanding quality
					.feature
						include icons/2-english
						span Specialist with proficient technical and language skills
					.feature
						include icons/3-office
						span Our office availabity for 24/7
					.feature
						include icons/4-meeting
						span Personal meetings and direct comunication
					.feature
						include icons/5-seniors
						span Seniors for seniors
					.feature
						include icons/6-risk
						span Long-term partnership

		.gradient

		section#portfolio
			.container
				h1.title.dark Our Expertise
				h2.sub-title Our team is comprised of devoted professionals who have expertise in multiple areas. We build web products that work and last, advance your customer journey, target and keep your customers in the loop.

				#switcher
					#switch-left
						include icons/left-arrow
					a(onclick="uneed.onChangePortfolio(0)").active
						h2.sub-title Web Development
					a(onclick="uneed.onChangePortfolio(1)")
						h2.sub-title Mobile Development
					a(onclick="uneed.onChangePortfolio(2)")
						h2.sub-title Product Design
					#switch-right
						include icons/left-arrow

				.portfolio-slides.swipeshow.autoheight
					.slides
						.slide(data-tappable="true")
							.portfolio-item
								h2.sub-title Developing customized web products is our core competence. We bring online presence to businesses by creating applications that resemble services and products as a distinctive brand. Our experienced team of developers organize and structure both front-end and back-end to create smooth and intuitive navigation for browsing as well as rich user experience.

								.tags
									.tag ReactJS
									.tag AngularJS
									.tag JavaScript
									.tag CSS
									.tag HTML

								.portfolio-image.web

						.slide(data-tappable="true")
							.portfolio-item
								h2.sub-title Developing customized web products is our core competence. We bring online presence to businesses by creating applications that resemble services and products as a distinctive brand. Our experienced team of developers organize and structure both front-end and back-end to create smooth and intuitive navigation for browsing as well as rich user experience.

								.tags
									.tag ReactJS
									.tag AngularJS
									.tag JavaScript
									.tag CSS
									.tag HTML

								.portfolio-image.mobile

						.slide(data-tappable="true")
							.portfolio-item
								h2.sub-title Developing customized web products is our core competence. We bring online presence to businesses by creating applications that resemble services and products as a distinctive brand. Our experienced team of developers organize and structure both front-end and back-end to create smooth and intuitive navigation for browsing as well as rich user experience.

								.tags
									.tag ReactJS
									.tag AngularJS
									.tag JavaScript
									.tag CSS
									.tag HTML

								.portfolio-image.design

					.dots

					a(href="/portfolio")
						button(role="button")
							span Get more info
							span.icon
								include icons/arrow-go

		include parts/footer
		script(type="text/javascript" src="/js/libs.min.js")
		script(type="text/javascript" src="/js/index.min.js")

