doctype html
html(lang="en")
	include parts/head
	+head("Remote software development | UNeed Web", "offshore software development, web development outsourcing, web design outsourcing", "Bringing cohesion, integration and outreach for your business with forefront IT services. We craft web and mobile projects, enliven them with design.")
	body#about-page
		include parts/header
		include parts/mobile-nav
		section#landing.flex.align-ver-center
			.background-image.lazy-load-image
				.small
				.large
			.container
				h1.title Distinctive Web Development
				h3.sub-title Shaping your tech ideas with smart engineering,<br> creating an outreach for your business.
			#scroll-down
				include icons/arrow

		section#info.animated.section-top.flex.align-ver-center
			.container
				h2.title.dark Our Services
				h3.sub-title Depending on time, budget, scope, and complexity of your projects we provide 3 options to help your business maintain, extend and acquire qualitative IT resources.

		section#services.animated.flex.align-ver-center
			.container.service.flex.flex-column.align-ver-center(data-href="/services/outsource")
				img.service-image(src="/images/gif/outsource.gif" width="100" height="100")
				.service-description
					h4.title.dark.service-title Project Development
					h5.sub-title.service-subtitle recommended for
					ul.service-list
						li
							span
								include icons/checkmark
							span short-term projects
						li
							span
								include icons/checkmark
							span fixed cost/time or budget
						li
							span
								include icons/checkmark
							span small to middle scale projects
					a(href="/services/outsource")
						button(role="button") Get more info

			.container.service.flex.flex-column.align-ver-center(data-href="/services/outstaff")
				img.service-image(src="/images/gif/outstaff.gif" width="100" height="100")
				.service-description
					h4.title.dark.service-title Dedicated Development Team
					h5.sub-title.service-subtitle recommended for
					ul.service-list
						li
							span
								include icons/checkmark
							span direct control over project stages
						li
							span
								include icons/checkmark
							span full-time engagement of IT experts to your project
					a(href="/services/outstaff")
						button(role="button") Get more info

			.container.service.flex.flex-column.align-ver-center(data-href="/services/relocation")
				img.service-image(src="/images/gif/relocation.gif" width="100" height="100")
				.service-description
					h4.title.dark.service-title Specialist for Relocation
					h5.sub-title.service-subtitle recommended for
					ul.service-list
						li
							span
								include icons/checkmark
							span limited recruitment capabilities
						li
							span
								include icons/checkmark
							span building/extending your IT department
					a(href="/services/relocation")
						button(role="button") Get more info

		section#about-services.animated.section-bottom.flex.align-ver-center
			.container
				| Learn more about each of these options and their difference 
				a.link.underlined(href="/services") here
		section#guarantee.animated.flex.align-ver-center
			.container
				.section-top
					h2.title Our Added Value
					h3.sub-title With delivering what we do the best: development and design of software we provide our customers with
				.features-container
					.feature
						include icons/1-quality
						span Outstanding quality
					.feature
						include icons/2-english
						span Specialist with proficient technical and language skills
					.feature
						include icons/3-office
						span.intellectual Protected intellectual property rights
					.feature
						include icons/4-meeting
						span Personal meetings and direct comunication
					.feature
						include icons/5-seniors
						span Candidates market overview within 24 hours
					.feature
						include icons/6-risk
						span Long-term partnership

		.gradient

		section#portfolio.animated
			.container
				.section-top
					h2.title.dark Our Expertise
					h3.sub-title Our team is comprised of devoted professionals who have expertise in multiple areas. We build web products that work and last, advance your customer journey, target and keep your customers in the loop.

				#switcher
					#switch-left
						include icons/left-arrow
					a(onclick="uneed.onChangePortfolio(0)").active
						h4.sub-title Web Development
					a(onclick="uneed.onChangePortfolio(1)")
						h4.sub-title Mobile Development
					a(onclick="uneed.onChangePortfolio(2)")
						h4.sub-title Product Design
					#switch-right
						include icons/left-arrow

				.portfolio-slides.swipeshow.autoheight
					.slides
						.slide(data-tappable="true")
							.portfolio-item(data-tappable="true")
								p.portfolio-item-descr Developing customized web products is our core competence. We bring online presence to businesses by creating applications that resemble services and products as a distinctive brand. Our experienced team of developers organize and structure both front-end and back-end to create smooth and intuitive navigation for browsing as well as rich user experience.

								.tags
									.tag React JS
									.tag Angular JS
									.tag JavaScript
									.tag CSS
									.tag HTML

								.portfolio-image.web
								.desktop-button
									a(href="/portfolio")
										button(role="button")
											span Go to portfolio
											span.icon
												include icons/arrow-go

						.slide(data-tappable="true")
							.portfolio-item(data-tappable="true")
								p.portfolio-item-descr Uneed Web builds mobile applications by using cross-platform mobile application development. It enables you to have one codebase and to customize for multiple platforms, brings cost-effectiveness and simplicity once changes and synchronization are applied.

								.tags
									.tag ReactJS Native
									.tag Ionic
									.tag Xamarin Framework

								.portfolio-image.mobile
								.desktop-button
									a(href="/portfolio")
										button(role="button")
											span Go to portfolio
											span.icon
												include icons/arrow-go

						.slide(data-tappable="true")
							.portfolio-item(data-tappable="true")
								p.portfolio-item-descr Uneed Web creates a unique product web design to match you company’s unique brand. A customized web design which is search engine friendly, stands out from your competitors and focuses on your customers. To optimize your customers browsing experience we create sites and systems based on responsive design.

								.tags
									.tag Sketch
									.tag Adobe Photoshop
									.tag Adobe Illustrator
									.tag Interfaces
									.tag Web Design \ UX

								.portfolio-image.design
								.desktop-button
									a(href="/portfolio")
										button(role="button")
											span Go to portfolio
											span.icon
												include icons/arrow-go

					.dots
					.mobile-button
						a(href="/portfolio")
							button(role="button")
								span Go to portfolio
								span.icon
									include icons/arrow-go

		include parts/footer
		script(type="text/javascript" src="/js/libs.min.js")
		script(type="text/javascript" src="/js/index.min.js")
		include parts/navbar
		script(type="text/javascript").
			window.onload = function loadStuff() {
				var win, doc, img, header, enhancedClass;
				var items = Array.prototype.slice.call(document.querySelectorAll('.lazy-load-image'), 0);

				// Quit early if older browser (e.g. IE 8).
				if (!('addEventListener' in window)) {
					return;
				}

				items.forEach(function(lazyLoadImage) {
					var targetImage = lazyLoadImage.querySelector('.large');
					var imageUrl = getComputedStyle(targetImage)['backgroundImage'];

					var image = new Image();
					image.onload = function() {
						lazyLoadImage.classList.add('loaded');
					};
					image.src = imageUrl.match(/(?:\(['|"]?)(.*?)(?:['|"]?\))/)[1];
				});
			};

