doctype html
html(lang="en")
	include parts/head
	body#about-page
		include parts/header
		include parts/mobile-nav

		section#landing.flex.align-ver-center
			.container
				h1.title Uneed
				h2.sub-title Where quality is trend and digital progress an outcome
				a.learn-more(href="/services")
					button.white(role="button") Learn More
			.scroll-down

		section#info.flex.align-ver-center
			.container
				h1.title.dark Our Services
				h2.sub-title We provide 3 options to help your business maintain, extend and acquire <b>qualitative IT resources</b>

		section#services.flex.align-ver-center
			.container.service.flex.flex-column.align-ver-center
				img.service-image(src="/images/gif/outsource.gif" width="100" height="100")
				.service-description
					h1.title.dark.service-title Development of the Project
					h2.sub-title.service-subtitle recommended for
					ul.service-list
						li short term projects
						li fixed cost/time or budget
						li small to middle scale projects
					a(href="/services/outsource")
						button(role="button") Get more info

			.container.service.flex.flex-column.align-ver-center
				img.service-image(src="/images/gif/outstaff.gif" width="100" height="100")
				.service-description
					h1.title.dark.service-title Dedicated Development Team
					h2.sub-title.service-subtitle recommended for
					ul.service-list
						li medium/large scale projects
						li full-cycle development and maintenance
					a(href="/services/outstaff")
						button(role="button") Get more info

			.container.service.flex.flex-column.align-ver-center
				img.service-image(src="/images/gif/relocation.gif" width="100" height="100")
				.service-description
					h1.title.dark.service-title Developer for relocation
					h2.sub-title.service-subtitle recommended for
					ul.service-list
						li building/extending your IT department
						li limited recruitment capabilities
					a(href="/services/relocation")
						button(role="button") Get more info

		section#about-services.flex.align-ver-center
			.container
				| Learn more about each of these options and their difference 
				a.underlined(href="/services") HERE
		section#guarantee.flex.align-ver-center
			.container
				h1.title We provide our customers with
				.features-container
					.feature
						include icons/1-quality
						span Outstanding quality
					.feature
						include icons/2-english
						span Specialist with proficient technical and language skills
					.feature
						include icons/3-office
						span Our office availabity for 24/7
					.feature
						include icons/4-meeting
						span Personal meetings and direct comunication
					.feature
						include icons/5-seniors
						span Seniors for seniors
					.feature
						include icons/6-risk
						span Long-term partnership

		.gradient

		section#portfolio
			.container
				h1.title.dark Our Expertise
				h2.sub-title Our team is comprised of devoted professionals who have expertise in multiple areas. We build web products that work and last, advance your customer journey, target and keep your customers in the loop. 

		include parts/footer

