doctype html
html(lang="en")
	include ../../parts/head
	body#portfolio-project-page
		include ../../parts/header
		include ../../parts/mobile-nav

		section#landing

		section#description
			.container
				.buttons-container
					a(href="/portfolio/banking")
						button.prev-project
							span.icon.rotated
								include ../../icons/arrow-go
							span Previous Project
					a(href="/portfolio/localisation")
						button.next-project
							span Next Project
							span.icon
								include ../../icons/arrow-go
				h2.type Gambling
				h1.title.dark What was the challenge?
				h2.sub-title Revamp an existing gambling web applications for an Israeli-based betting company. Enable a real-time video stream for games like blackjack, roulette, and baccarat.

		section#approaches.gambling
			.container
				h1.title Challenge accepted
				h2.sub-title To enable a real-time visual experience, the tech team developed the wrapper for video streaming. The users now could watch and participate in the game. A live web chat was created for direct communication. An additional option of spectator mode was designed. The interactive system of betting was introduced by using functional video layers and WebSocket technology.

		section#description
			.container
				h1.title.dark What technologies did we use?
				.tags
					.tag AngularJS
					.tag Grunt
					.tag jQuery
					.tag Less
					.tag underscore
					.tag WebSockets
					.tag TeamCity
					.tag HTML5 Video

		section#gallery
			.container
				.gallery-container.swipeshow.gambling
					.slides
						.slide
						.slide
					.dots
					.slide-left
					.slide-right

		section#back
			a(href="/portfolio")
				button(role="button")
					span Back to all projects
					span.icon
						include ../../icons/arrow-go

		include ../../parts/footer
		script(type="text/javascript" src="/js/libs.min.js")
		script(type="text/javascript" src="/js/portfolio.min.js")

