doctype html
html(lang="en")
	include ../../parts/b-head
	+head("Social Network App Development | Uneed Web", "Travel social platform, Web Development", "Creation of an engaging travel-oriented social network service with an embedded e-commerce platform.")

	body
		.page-wrapper

			include ../../parts/b-header
			+b-header("project")

			main.page-content

				.project-switcher
					.project-switcher__wrapper
						a.project-switcher__link.project-switcher__link--prev(href="#")
							span.project-switcher__arrow-icon
								include ../../icons/arrow-go
							span Previous Project
						a.project-switcher__link.project-switcher__link--next(href="#")
							span Next Project
							span.project-switcher__arrow-icon
								include ../../icons/arrow-go

				section.section
					.section__wrapper
						span.section__project-type Travel
						h1.section__title What was the challenge?
						p.section__text Create an engaging travel-oriented social network service. Build a platform that facilitates interaction between travel organizers, tourists, agencies, equipment stores. Consolidate network environment with e-commerce. 

				section.section.section--approaches.approaches.approaches--social-travel
					.section__wrapper
						h2.section__title Challenge accepted
						p.section__text.section__text--with-margin-bottom Our team of experts developed a social media application that enabled users to create, book activities (canoeing, climbing, horse-riding, hiking and mountaineering). The activities could be organized both by agencies as well as by single travelers.
						p.section__text An e-commerce platform was integrated into the web application and facilitated processing not only activity payments but also allowed equipment stores to sell their products onsite. As a social media, the network provided feedback tools, reviews, commentaries, messaging.

				section.section
					.section__wrapper.section__wrapper--tight
						h2.section__title What technologies did we use?
						ul.section__tags.tags
							li.tags__item Angular JS
							li.tags__item Bower
							li.tags__item Stylus
							li.tags__item Jade
							li.tags__item Google maps API
							li.tags__item Java 8
							li.tags__item Spring MVC
							li.tags__item ElasticSearch
							li.tags__item WebSockets
							li.tags__item Spring Boot
							li.tags__item Spring Data
					.slider.slider--project
						ul.slider__slides-wrapper
							li.slider__slide
								.slider__slide-inner
									.slider__img-wrapper
										img(src="../../photos/social-travel/social-travel-gallery-1.png")
							li.slider__slide
								.slider__slide-inner
									.slider__img-wrapper
										img(src="../../photos/social-travel/social-travel-gallery-2.png")
						.slider__dots
							button.slider__dot.slider__dot--active(type="button")
							button.slider__dot(type="button")
					.section__wrapper.section__wrapper--tight
						a.section__btn.btn(href="/portfolio/b-index.html") Back to all projects
							include ../../icons/arrow-go

			include ../../parts/b-footer
			+b-footer("project")
		script.
			(function() {
				var navMain = document.querySelector('.main-nav'),
						navToggle = document.querySelector('.main-nav__toggle');

				navMain.classList.remove('main-nav--nojs');

				navToggle.addEventListener('click', function() {
					if (navMain.classList.contains('main-nav--closed')) {
						navMain.classList.remove('main-nav--closed');
						navMain.classList.add('main-nav--opened');
					} else {
						navMain.classList.remove('main-nav--opened');
						navMain.classList.add('main-nav--closed');
					}
				});
			})();

			(function () {
				var slider = document.querySelector('.slider'),
						slidesWrapper = slider.querySelector('.slider__slides-wrapper'),
						slideItems = slider.querySelectorAll('.slider__slide'),
						slidesCount = slideItems.length,
						sliderStepValue = 100/slidesCount,
						slideCurrent = 1,
						sliderDots = slider.querySelectorAll('.slider__dot');

				function slideChange (index) {
					var	sliderTransValue = (index-1)*sliderStepValue;
					slidesWrapper.style.transform = 'translateX(-'+sliderTransValue+'%)';
					sliderDots[slideCurrent-1].classList.remove('slider__dot--active');
					sliderDots[index-1].classList.add('slider__dot--active');
					slideCurrent = index;
				};

				slidesWrapper.style.width = slidesCount*100+'%';

				sliderDots.forEach(function (item, index) {
					sliderDots[index].addEventListener('click', function () {
						slideChange(index+1);
					});
				});
			})();