doctype html
html(lang="en")
	include ../../parts/head
	+head("Mobile Development - YOW | Uneed Web", "Web development projects, mobile development projects, product design", "YOW - YOUR OPEN WORLD. Is our own developed mobile app that keeps track of the places you visit and shows your exploration progress.")

	body
		.page-wrapper

			include ../../parts/header
			+header("project-yow")

			main.page-content

				.project-switcher(data-animation="bounceIn")
					.project-switcher__wrapper
						a.project-switcher__link.project-switcher__link--prev(href="/portfolio/on-game/")
							span.project-switcher__arrow-icon
								include ../../icons/arrow-go
							span Previous Project
						a.project-switcher__link.project-switcher__link--next(href="/portfolio/banking/")
							span Next Project
							span.project-switcher__arrow-icon
								include ../../icons/arrow-go

				section.section(data-animation="fadeInUp")
					.section__wrapper
						.section__project-type mobile development
						h1.section__title Your Open World
						p.section__text You travel a lot, but do not keep track of the places you visit? Your friend asks you about countries you have seen and you scratch your head thinking? Better scratch the map. With our new application yow you can keep track of your journeys’ history. As we travel extensively throughout the year for fellow travel-lovers we crafted this handful tool.

				section.section.section--yow-logo-block(data-animation="fadeInUp")
					.yow-logo
						.yow-logo__icon-wrapper
							img(src="../../images/yow/yow-icon-1.png" alt="yow")
						.yow-logo__arrow-wrapper
							include ../../icons/arrow-right
						.yow-logo__icon-wrapper
							img(src="../../images/yow/yow-icon-2.png" alt="yow")
						.yow-logo__arrow-wrapper
							include ../../icons/arrow-right
						.yow-logo__icon-wrapper
							img(src="../../images/yow/yow-icon-3.png" alt="yow")

				section.section.section--without-padding-bottom(data-animation="fadeIn")
					.section__wrapper
						h2.section__title Technologies
						p.section__text Our technical team used a comprehensive set of tools and technologies during YOW development.
						ul.section__tags.tags
							li.tags__item C#
							li.tags__item Xamarin Framework
							li.tags__item Open GeoData
							li.tags__item Google Maps
							li.tags__item Google Places
							li.tags__item Geolocation
							li.tags__item AWS (EC2)
							li.tags__item Jenkins
							li.tags__item Git

				section.projects-reverse-block.projects-reverse-block--grey-gradient
					.projects-reverse-block__wrapper
						section.projects-reverse-block__section.projects-reverse-block__section--with-padding-top
							.projects-reverse-block__decorative-img.projects-reverse-block__decorative-img--yow-1(data-animation="fadeInRight")
							.projects-reverse-block__inner(data-animation="fadeInLeft")
								h2.projects-reverse-block__title About App
								p.projects-reverse-block__text YOW is a mobile application that functions as a travel scratch map. In the beginning, your travel map is black, but whenever you visit a new country, city or street it unveils an area which was black before and marks the place you have been to. The map is based on the Google Maps API. You can build the list of the favorite places, use navigation for finding spots.
						section.projects-reverse-block__section
							.projects-reverse-block__decorative-img.projects-reverse-block__decorative-img--yow-2(data-animation="fadeInLeft")
							.projects-reverse-block__inner(data-animation="fadeInRight")
								h2.projects-reverse-block__title Share with friends
								p.projects-reverse-block__text Your friend asks you about countries you have seen and you scratch your head thinking? Let your friends know how many countries/cities you have seen so far. You can share your exploration progress by clicking on social media buttons (Facebook, Twitter, Google+...)

				section.section.project-features(data-animation="fadeInUp")
					h2.project-features__title Our Features
					p.project-features__text Our technical team used a comprehensive set of tools and technologies during yow development.
					ul.project-features__list
						li.project-features__item
							.project-features__icon-wrapper(data-animation="zoomIn")
								//- include ../../icons/on-game-features-ic1
							h3.project-features__item-title Offline Working
							p.project-features__item-descr YOW works offline, including maps, which means there is no need to look for Wi-Fi spots.
						li.project-features__item
							.project-features__icon-wrapper(data-animation="zoomIn")
								//- include ../../icons/on-game-features-ic2
							h3.project-features__item-title Storing Pictures
							p.project-features__item-descr Every time you take your finest snapshots you can attach them to the places on the map through the app.
						li.project-features__item
							.project-features__icon-wrapper(data-animation="zoomIn")
								//- include ../../icons/on-game-features-ic3
							h3.project-features__item-title Smart Adviser
							p.project-features__item-descr Once you go on a trip to a new area, the app will give you suggestions for the places to see in nearby.

				section.section
					.slider.slider--project
						ul.slider__slides-wrapper
							li.slider__slide
								.slider__slide-inner
									.slider__img-wrapper
										img(src="../../photos/yow/yow-gallery-1.png")
							li.slider__slide
								.slider__slide-inner
									.slider__img-wrapper
										img(src="../../photos/yow/yow-gallery-2.png")
							li.slider__slide
								.slider__slide-inner
									.slider__img-wrapper
										img(src="../../photos/yow/yow-gallery-3.png")
						.slider__dots
							button.slider__dot.slider__dot--active(type="button")
							button.slider__dot(type="button")

			include ../../parts/footer
			+footer("project-yow")
		script(src="/js/main-nav.min.js")
		script(src="/js/swipeshow.min.js")