doctype html
html(lang="en")
	include ../../parts/head
	+head("Mobile Development - YOW | Uneed Web", "Web development projects, mobile development projects, product design", "YOW - YOUR OPEN WORLD. Is our own developed mobile app that keeps track of the places you visit and shows your exploration progress.")

	body
		.page-wrapper

			include ../../parts/header
			+header("project")

			main.page-content

				.project-switcher(data-animation="bounceIn")
					.project-switcher__wrapper
						a.project-switcher__link.project-switcher__link--prev(href="/portfolio/on-game/")
							span.project-switcher__arrow-icon
								include ../../icons/arrow-go
							span Previous Project
						a.project-switcher__link.project-switcher__link--next(href="/portfolio/banking/")
							span Next Project
							span.project-switcher__arrow-icon
								include ../../icons/arrow-go

				section.section(data-animation="fadeInUp")
					.section__wrapper
						span.section__project-type mobile Development
						h1.section__title Your Open World
						p.section__text You travel a lot, but do not keep track of the places you visit? Your friend asks you about countries you have seen and you scratch your head thinking? Better scratch the map. With our new application yow you can keep track of your journeys’ history. As we travel extensively throughout the year for fellow travel-lovers we crafted this handful tool.

				section.section.section--approaches.approaches.approaches--yow(data-animation="fadeInUp")
					.section__wrapper
						h2.section__title What is YOW?
						p.section__text.section__text YOW is a travel scratch map. Whenever you visit a new country, city, street it uncovers them on the map and marks places you have been to. Travel scratch map is based on Google Maps API keeps track of places you have visited, shows your exploration progress and lets you share them on social networks. It stores photos of your favorite places and suggests the new ones in nearby.

				section.section(data-animation="fadeInUp")
					.section__wrapper.section__wrapper--tight
						h2.section__title What technologies did we use?
						ul.section__tags.tags
							li.tags__item C#
							li.tags__item Xamarin Framework
							li.tags__item Open GeoData
							li.tags__item Google Maps
							li.tags__item Google Places
							li.tags__item Geolocation
							li.tags__item AWS (EC2)
							li.tags__item Jenkins
							li.tags__item Git
					.slider.slider--project
						ul.slider__slides-wrapper
							li.slider__slide
								.slider__slide-inner
									.slider__img-wrapper
										img(src="../../photos/yow/yow-gallery-1.png")
							li.slider__slide
								.slider__slide-inner
									.slider__img-wrapper
										img(src="../../photos/yow/yow-gallery-3.png")
						.slider__dots
							button.slider__dot.slider__dot--active(type="button")
							button.slider__dot(type="button")
					.section__wrapper.section__wrapper--tight
						a.section__btn.btn(href="/portfolio/") Back to all projects
							include ../../icons/arrow-go

			include ../../parts/footer
			+footer("project")
		script(src="/js/main-nav.min.js")
		script.

			(function () {
				var slider = document.querySelector('.slider'),
						slidesWrapper = slider.querySelector('.slider__slides-wrapper'),
						slideItems = slider.querySelectorAll('.slider__slide'),
						slidesCount = slideItems.length,
						sliderStepValue = 100/slidesCount,
						slideCurrent = 1,
						sliderDots = slider.querySelectorAll('.slider__dot');

				function slideChange (index) {
					var	sliderTransValue = (index-1)*sliderStepValue;
					slidesWrapper.style.transform = 'translateX(-'+sliderTransValue+'%)';
					sliderDots[slideCurrent-1].classList.remove('slider__dot--active');
					sliderDots[index-1].classList.add('slider__dot--active');
					slideCurrent = index;
				};

				slidesWrapper.style.width = slidesCount*100+'%';

				sliderDots.forEach(function (item, index) {
					sliderDots[index].addEventListener('click', function () {
						slideChange(index+1);
					});
				});

				window.addEventListener('keydown', function (event) {
					if (event.keyCode == 37 && slideCurrent > 1) {
						slideChange(slideCurrent-1);
					}
					if (event.keyCode == 39 && slideCurrent < slidesCount) {
						slideChange(slideCurrent+1);
					}
				});

			})();