doctype html
html(lang="en")
	include ../../parts/head
	+head("Portfolio - YOW | Uneedweb", "Travel application, Mobile Development, online scratch map", "Our own mobile application that keeps track of the places you visit and shows your exploration progress.")
	body#portfolio-project-page.project-yow
		include ../../parts/header
		include ../../parts/mobile-nav

		section#top-yow

		section#description
			.container
				.buttons-container
					a(href="/portfolio/sport")
						button.prev-project
							span.icon.rotated
								include ../../icons/arrow-go
							span Previous Project
					a(href="/portfolio/banking")
						button.next-project
							span Next Project
							span.icon
								include ../../icons/arrow-go
				.section-top
					h2.type mobile Development
					h1.title.dark Your Open World
					h2.sub-title You travel a lot, but do not keep track of the places you visit? Your friend asks you about countries you have seen and you scratch your head thinking? Better scratch the map. With our new application YOW you can keep track of your journeys’ history. As we travel extensively throughout the year for fellow travel-lovers we crafted this handful tool.

		section#technologies

			.yow-decorative-block.yow-decorative-block-logo

			.container
				.section-top
					h1.title.dark Technologies
					h2.sub-title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.tags
						.tag Angular JS
						.tag Jade
						.tag Stylus
						.tag GulpJS, lodash
						.tag Yeoman
						.tag Google Maps API
						.tag Geolocation
						.tag AWS (EC2)
						.tag Jenkins
						.tag Git
						.tag Karma
						.tag Jasmine

		section#about

			.yow-decorative-block.yow-decorative-block-map

			.container
				.section-top
					h1.title.dark About App
					h2.sub-title In the beginning, your travel map is black, but whenever you visit a new country, city or street it unveils an area which was black before and marks the place you have been to. The map is based on the Google Maps API. You can build the list of the favorite places, use navigation for finding spots.

		section#share

			.yow-decorative-block.yow-decorative-block-phone

			.container
				.section-top
					h1.title.dark Share with friends
					h2.sub-title Your friend asks you about countries you have seen and you scratch your head thinking? Let your friends know how many countries/cities you have seen so far. You can share your exploration progress by clicking on social media buttons (Facebook, Twitter, Google+...)


		section#features
			.container
				.section-top
					h1.title Our Features
					ul.features-list
						li.feature-item.feature-item-offline-work
							h2.feature-name Offline Working
							p.feature-descr YOW works offline, including maps, which means there is no need to look for Wi-Fi spots.
						li.feature-item.feature-item-stor-pict
							h2.feature-name Storing Pictures
							p.feature-descr Every time you take your finest snapshots you can attach them to the places on the map through the app.
						li.feature-item.feature-item-smart-adviser
							h2.feature-name Smart Adviser
							p.feature-descr Once you go on a trip to a new area, the app will give you suggestions for the places to see in nearby. 

		section#gallery
			.container
				.gallery-container.swipeshow.yow
					.slides
						.slide
						.slide
						.slide
					.dots
					.slide-left
					.slide-right

		section#back
			a(href="/portfolio")
				button(role="button")
					span Next projects
					span.icon
						include ../../icons/arrow-go

		include ../../parts/footer
		script(type="text/javascript" src="/js/libs.min.js")
		script(type="text/javascript" src="/js/portfolio.min.js")
		include ../../parts/navbar