svg(xmlns='http://www.w3.org/2000/svg', width='52.879', height='59.997', viewbox='0 0 52 59')
	metadata
		x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ')
			rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
				rdf:description(rdf:about='')
	defs
		style.
			.cls-1 {
			fill: #fff;
			fill-rule: evenodd;
			}
	|   
	path.cls-1(id='Logo-eхp', d='M89.182,53.406L66.806,40.463a3.61,3.61,0,0,0-3.616,0L40.814,53.406a3.623,3.623,0,0,0-1.808,3.137V82.428a3.623,3.623,0,0,0,1.808,3.137L63.191,98.508a3.61,3.61,0,0,0,3.616,0L89.182,85.565a3.624,3.624,0,0,0,1.808-3.137V56.543A3.624,3.624,0,0,0,89.182,53.406ZM80.008,80.628a1.413,1.413,0,0,1-1.436,1.38H52.425a1.413,1.413,0,0,1-1.436-1.38V79.369a1.413,1.413,0,0,1,1.436-1.38H78.572a1.413,1.413,0,0,1,1.436,1.38v1.259ZM55.013,70.983c0-2.416,2.877-4.875,5.5-4.875a11.1,11.1,0,0,1,4.993,1.441,10.381,10.381,0,0,0,3.85,1.441c1.819,0,2.073-2.925,4.146-2.882a1.448,1.448,0,0,1,1.481,1.229c0,2.416-2.877,4.875-5.5,4.875a11.1,11.1,0,0,1-4.992-1.441,10.379,10.379,0,0,0-3.85-1.441c-1.819,0-2.073,2.925-4.146,2.882A1.448,1.448,0,0,1,55.013,70.983ZM80.008,58.6A1.423,1.423,0,0,1,78.572,60H52.425a1.423,1.423,0,0,1-1.436-1.4V57.4a1.423,1.423,0,0,1,1.436-1.4H78.572a1.423,1.423,0,0,1,1.436,1.4V58.6Z', transform='translate(-39 -40)')
