svg(xmlns='http://www.w3.org/2000/svg', width='20', height='16', viewbox='0 0 20 16')
	path(fill='#8492AF', fill-rule='evenodd', d='M18.995 7.998v.005a.703.703 0 0 1-.141.397c-.009.014-.005.032-.016.045l-5.699 7.238a.839.839 0 0 1-.664.311.86.86 0 0 1-.48-.144c-.366-.246-.447-.719-.18-1.057l4.752-6.036H.825C.372 8.757.006 8.418.006 8s.366-.756.819-.756h15.742l-4.752-6.036c-.267-.338-.186-.811.18-1.057.365-.246.879-.171 1.144.167l5.699 7.237c.011.014.006.031.016.045.081.118.14.249.141.398z')
