svg(xmlns='http://www.w3.org/2000/svg', width='8', height='16', viewbox='0 0 8 16')
    path(fill="#8492AF" fill-rule="evenodd" d="M6.525 15.995a.86.86 0 0 0 .48-.145c.366-.246.447-.719.18-1.057L1.837 8l5.348-6.793c.267-.337.186-.81-.18-1.056-.365-.246-.879-.171-1.144.167L.162 7.555a.707.707 0 0 0 0 .89l5.699 7.238a.84.84 0 0 0 .664.312z")
