svg(xmlns='http://www.w3.org/2000/svg', width='52', height='59')
	defs
		lineargradient#a(x1='34.202%', x2='0%', y1='93.969%', y2='0%')
			stop(offset='0%', stop-color='#4444B9')
			|             
			stop(offset='100%', stop-color='#EC523E')
	|     
	path(fill='#FFF', fill-rule='evenodd', d='M50.182 13.406L27.806.463a3.609 3.609 0 0 0-3.615 0L1.814 13.406a3.625 3.625 0 0 0-1.808 3.137v25.885c0 1.294.69 2.49 1.808 3.137l22.377 12.943a3.609 3.609 0 0 0 3.615 0l22.376-12.943a3.623 3.623 0 0 0 1.808-3.137V16.543c0-1.294-.689-2.49-1.808-3.137zm-9.83 27.804c0 .782-.639 1.423-1.421 1.423H13.065c-.781 0-1.42-.641-1.42-1.423v-1.298c0-.783.639-1.423 1.42-1.423h25.866c.782 0 1.421.64 1.421 1.423v1.298zM16.013 30.983c0-2.416 2.877-4.874 5.501-4.874 1.946 0 3.511.72 4.992 1.441 1.439.72 2.792 1.441 3.85 1.441 1.82 0 2.073-2.925 4.147-2.882.846.042 1.48.636 1.48 1.229 0 2.416-2.877 4.874-5.5 4.874-1.946 0-3.512-.72-4.992-1.441-1.439-.72-2.793-1.441-3.851-1.441-1.819 0-2.073 2.925-4.146 2.882-.846-.042-1.481-.635-1.481-1.229zm24.339-11.995c0 .782-.639 1.423-1.421 1.423H13.065c-.781 0-1.42-.641-1.42-1.423v-1.227c0-.783.639-1.423 1.42-1.423h25.866c.782 0 1.421.64 1.421 1.423v1.227z')
	|     
	path(fill='url(#a)', d='M50.182 13.406L27.806.463a3.609 3.609 0 0 0-3.615 0L1.814 13.406a3.625 3.625 0 0 0-1.808 3.137v25.885c0 1.294.69 2.49 1.808 3.137l22.377 12.943a3.609 3.609 0 0 0 3.615 0l22.376-12.943a3.623 3.623 0 0 0 1.808-3.137V16.543c0-1.294-.689-2.49-1.808-3.137zm-9.83 27.804c0 .782-.639 1.423-1.421 1.423H13.065c-.781 0-1.42-.641-1.42-1.423v-1.298c0-.783.639-1.423 1.42-1.423h25.866c.782 0 1.421.64 1.421 1.423v1.298zM16.013 30.983c0-2.416 2.877-4.874 5.501-4.874 1.946 0 3.511.72 4.992 1.441 1.439.72 2.792 1.441 3.85 1.441 1.82 0 2.073-2.925 4.147-2.882.846.042 1.48.636 1.48 1.229 0 2.416-2.877 4.874-5.5 4.874-1.946 0-3.512-.72-4.992-1.441-1.439-.72-2.793-1.441-3.851-1.441-1.819 0-2.073 2.925-4.146 2.882-.846-.042-1.481-.635-1.481-1.229zm24.339-11.995c0 .782-.639 1.423-1.421 1.423H13.065c-.781 0-1.42-.641-1.42-1.423v-1.227c0-.783.639-1.423 1.42-1.423h25.866c.782 0 1.421.64 1.421 1.423v1.227z')
