svg(xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewbox='0 0 23 23')
    path(fill="#576076" fill-rule="evenodd" d="M22.313 22.769H.671a.671.671 0 0 1-.677-.666V9.185c0-.213.104-.414.279-.54L11.094.899a.687.687 0 0 1 .795 0L22.71 8.645a.667.667 0 0 1 .279.54v12.918a.671.671 0 0 1-.676.666zm-.677-12.324l-6.573 4.909 6.573 5.305V10.445zm-1.171 10.991l-9.001-7.264-9.001 7.264h18.002zm-19.118-.822l6.518-5.26-6.518-4.868v10.128zM11.492 2.263L1.834 9.177l7.108 5.308 2.094-1.69a.682.682 0 0 1 .857 0l2.094 1.69 7.135-5.328-9.63-6.894z")
