svg(xmlns="http://www.w3.org/2000/svg" width="87" height="73" viewbox="0 0 87 73")
    path(fill="#C3CEE4" fill-rule="evenodd" d="M80.007 51H7.012V7h72.995v44z")
    path(fill="#0E1A35" fill-rule="evenodd" d="M82 57H55c0 4.581 2.424 8 7 8h8v8l-52.974-.028L17 65h6c2.223 0 4.118-.447 5.686-2.024C30.255 61.399 31.009 59.226 31 57H5c-3.036 0-5-1.96-5-5C0 52-.044 4.482 0 5 .006 2.027 1.965.013 5 0h77c3.036 0 5 1.96 5 5v47c0 3.04-1.964 5-5 5zM23 67h-4v4h49v-4H23zm7-3c-.526.529-.386.611-1 1h28c-2.754-1.74-4-4.506-4-8H33c.011 2.63-1.146 5.137-3 7zM85 5c0-2.207-.795-3-3-3H5c-2.205 0-3 .793-3 3v47c0 2.207.795 3 3 3h77c2.205 0 3-.793 3-3V5zm-7 3H7l-.001-2.006H80.01v44.995L78 51V8z")
