doctype html
html(lang="en")
	include ../../parts/head
	body#service-page
		include ../../parts/header
		include ../../parts/mobile-nav

		section#landing

		section#switcher
			#switch-left
			a(href="/services/outsource")
				h2.sub-title Development of the project
			a(href="/services/outstaff")
				h2.sub-title Dedicated Development Team
			a(href="/services/relocation").active
				h2.sub-title Developer for relocation
			#switch-right

		section#description
			.container
				.service-image.relocation
				h1.title.dark Developer for relocation

				h2.sub-title We tend to think that model of Decimated Development Team is one of the winning ones for the company which works on development of its own product and needs high-quality resources with good efficiency level at the same time with optimised budget. With this model you will have your dedicated employee or team, who works liked any other of your team members only remotely. This way you don’t have to take care of any organisational details like HR, office, technical equipment, but you receive the same result as from onsite team. 

				h2.sub-title.result You do 5%, we do rest 95% for you. 

				a(href="/services")
					button(role="button")
						span Services comparison
						span.icon
							include ../../icons/arrow-go

		section#workflow.mobile
			.container
				h1.title You do
				ul.customer-workflow
					li.color-1 Provide Technical Requirements for candidate 
					li.color-2 Chat and make final decision
				h1.title We do
				ul.uneed-workflow
					li.color-3 Search the internal team and the market for the right candidate 
					li.color-4 HR-team interviews to check personal skills and level of English
					li.color-5 Our best technical professionals interviews to check development skills 
					li.color-6 Arrange the meeting with you and your team 
					li.color-7 We set up start of the work and provide office space and technical equipment 
					li.color-8 We deal with all every-day issues and questions with your team-member

		section#workflow.desktop
			.container
				.workflow-header
					h1.title We do
					h1.title You do
				.workflow-row.right.color-1
					.workflow-item
						.ball
						.arrow
						.text Provide Technical Requirements for candidate 
				.workflow-row.left.color-2
					.workflow-item
						.ball
						.arrow
						.text Search the internal team and the market for the right candidate 
				.workflow-row.left.color-3
					.workflow-item
						.ball
						.arrow
						.text Search the internal team and the market for the right candidate 
				.workflow-row.left.color-4
					.workflow-item
						.ball
						.arrow
						.text HR-team interviews to check personal skills and level of English
				.workflow-row.left.color-5
					.workflow-item
						.ball
						.arrow
						.text Our best technical professionals interviews to check development skills 
				.workflow-row.right.color-6
					.workflow-item
						.ball
						.arrow
						.text Chat and make final decision
				.workflow-row.left.color-7
					.workflow-item
						.ball
						.arrow
						.text We set up start of the work and provide office space and technical equipment 
				.workflow-row.left.color-8
					.workflow-item
						.ball
						.arrow
						.text We deal with all every-day issues and questions with your team-member

		section#result
			h1.title.dark Result
			h2.sub-title You get well-qualified team member, clean and robust code and successfully implemented product

			a(href="/contact-us")
				button(role="button")
					span Share your requirements
					span.icon
						include ../../icons/arrow-go

		include ../../parts/footer

