doctype html
html(lang="en")
	include ../../parts/head
	+head("Specialist for Relocation | UNeed Web", "full-stack, fron-end developer, back-end developer, PHP developer, Java developer, Web Developer, in-house developer", "Access strategic talents that adds value beyond standard options. We are your committed partner to find top specialists for relocation.")
	body#service-page
		include ../../parts/header
		include ../../parts/mobile-nav

		section#landing

		section#switcher
			#switch-left
				a(href="/services/outstaff")
					include ../../icons/left-arrow
			a(href="/services/outsource")
				h2.sub-title Project Development
			a(href="/services/outstaff")
				h2.sub-title Dedicated Development Team
			a(href="/services/relocation").active
				h2.sub-title Specialist for Relocation
			#switch-right
				a(href="/services/outsource")
					include ../../icons/left-arrow

		section#description
			.container
				.service-image.relocation
				h1.title.dark Specialist for Relocation

				h2.sub-title The cost-benefit service that allows you to access a richer pool of IT experts and leverage your human capital. When the top talents for your industry are above your budget or simply not located in your area we will provide you with high-skilled candidates that are willing to relocate to your place.

				h2.sub-title.result You do 5%, we do the remaining 95% for you.

				a(href="/services")
					button(role="button")
						span Services comparison
						span.icon
							include ../../icons/arrow-go

		section#workflow.mobile
			.container
				h1.title You do
				ul.customer-workflow
					li.color-1 Provide technical requirements for candidates
					li.color-2 Evaluate and approve candidates
					li.color-3 Sign contract with candidates
				h1.title We do
				ul.uneed-workflow
					li.color-4 Candidates market overview in 24 hours
					li.color-5 Conduct recruitment process to check candidates’ personal skills and language proficiency
					li.color-6 Conduct technical interview
					li.color-7 Suggest candidates and schedule an interview with your team
					li.color-8 Handle relocation and settlement

		section#workflow.desktop.animated
			.container
				.workflow-header
					h1.title We do
					h1.title You do
				.workflow-row.right.color-1
					.workflow-item
						.ball
						.arrow
						.text Provide technical requirements for candidates
				.workflow-row.left.color-2
					.workflow-item
						.ball
						.arrow
						.text Candidates market overview in 24 hours
				.workflow-row.left.color-3
					.workflow-item
						.ball
						.arrow
						.text Conduct recruitment process to check candidates’ personal skills and language proficiency
				.workflow-row.left.color-4
					.workflow-item
						.ball
						.arrow
						.text Conduct technical interview
				.workflow-row.left.color-5
					.workflow-item
						.ball
						.arrow
						.text Suggest candidates and schedule an interview with your team
				.workflow-row.right.color-6
					.workflow-item
						.ball
						.arrow
						.text Evaluate and approve candidates
				.workflow-row.left.color-7
					.workflow-item
						.ball
						.arrow
						.text Handle relocation and settlement
				.workflow-row.right.color-8
					.workflow-item
						.ball
						.arrow
						.text Sign contract with candidates

		section#result.animated
			h1.title.dark Result
			h2.sub-title You get a new, high-skilled team member that completes your business team.

			a(href="/services")
				button(role="button")
					span Services comparison
					span.icon
						include ../../icons/arrow-go

		include ../../parts/footer
		script(type="text/javascript" src="/js/libs.min.js")
		script(type="text/javascript" src="/js/services.min.js")
		include ../../parts/navbar

