doctype html
html(lang="en")
	include ../../parts/head
	+head("Outstanding software engineering practices | UNeed Web", "", "Thanks for contacting us.")
	body#contact-us-result-page
		include ../../parts/header
		include ../../parts/mobile-nav

		#contact-result
			.container
				h1.title.dark Something went wrong!
				h2.sub-title Please try again later

		include ../../parts/footer
		script(type="text/javascript" src="/js/contact-us.min.js")

