doctype html
html(lang="en")
	include ../../parts/head
	+head("Project Development | Uneed Web", "Front-end development, Back-end development, PHP, SQL, JavaScript, HTML, Responsive Design, CSS, React, Angular, Wordpress", "Looking for greater flexibility and operations scaling? Over 36% of senior managers find project development outsourcing as a way out. With offloading your project to us you will optimize work and save the best in-house staff for more valuable tasks.")

	body
		.page-wrapper

			include ../../parts/b-header
			+b-header("services")

			main.page-content

				section.section.section--first-after-menu.section--without-padding-bottom
					.section__wrapper.section__wrapper--margin-left-only
						.switcher
							a.switcher__btn.switcher__btn--prev
								include ../../icons/left-arrow
							a.switcher__name.switcher__name--active(href="/services/outsource/b-index.html") Project Development
							a.switcher__name(href="/services/outstaff/b-index.html") Staff Augmentation
							a.switcher__name(href="/services/relocation/b-index.html") Relocation Specialist
							a.switcher__btn.switcher__btn--next(href="/services/outstaff/b-index.html")
								include ../../icons/left-arrow

						section.section.section--without-padding-top.section--small-padding-bottom.section--slide.section--slide-project
							h2.section__title.section__title--text-left Project Development
							p.section__text.section__text--text-left.section__text--with-margin-bottom Looking for greater flexibility and operations scaling?<br>Over 36% of senior managers find project development outsourcing as a way out. With offloading your project to us you will optimize work and save the best in-house staff for more valuable tasks.
							p.section__text.section__text--text-left.section__text--with-margin-bottom The project development outsourcing service is aimed at businesses that have a defined objective for the project, constrained in time or budget and do not consider establishing an on-going software development team.
							p.section__text.section__text--text-left.section__text--with-margin-bottom For long-term projects (6+ months) we suggest you consider the Staff Augmentation model.
							p.section__text.section__text--text-left.section__text--with-margin-bottom You do 5%, we do the remaining 95% for you.
							a.section__btn.btn(href="/services/b-index.html") Services comparison
								include ../../icons/arrow-go

				section.section.section--without-padding-top.section--without-padding-bottom.section--main-color.workflow.workflow--project
					.workflow__wrapper
						.workflow__inner.workflow__inner--right
							h3.workflow__title You do
							ul.workflow__list.workflow__list
								li.workflow__item
									span Provide technical requirements
								li.workflow__item
									span Approve estimate and project offer
						.workflow__inner.workflow__inner--left
							h3.workflow__title We do
							ul.workflow__list.workflow__list
								li.workflow__item
									span Analyze, gather and offer the project estimate (timeline and budget)
								li.workflow__item
									span Submit project offer, pricing and schedule
								li.workflow__item
									span Set up a team and start a project
								li.workflow__item
									span Test and launch of a project
								li.workflow__item
									span In case needed, continuous project support

				section.section
					.section__wrapper
						h2.section__title Result
						p.section__text You get well-qualified team member, clean and robust code and successfully implemented product

			include ../../parts/b-footer
			+b-footer("services")

		script.
			(function() {
				var navMain = document.querySelector('.main-nav');
				var navToggle = document.querySelector('.main-nav__toggle');

				navMain.classList.remove('main-nav--nojs');

				navToggle.addEventListener('click', function() {
					if (navMain.classList.contains('main-nav--closed')) {
						navMain.classList.remove('main-nav--closed');
						navMain.classList.add('main-nav--opened');
					} else {
						navMain.classList.remove('main-nav--opened');
						navMain.classList.add('main-nav--closed');
					}
				});
			})();