doctype html
html(lang="en")
	include ../../parts/head
	+head("Project Development | UNeed Web", "Front-end development, Back-end development, PHP, SQL, JavaScript, HTML, Responsive Design, CSS, React, Angular, Wordpress", "Our team of experienced software professionals will guarantee that your product is successfully developed. By offloading your project to us, you will optimize work, save the best in-house staff for more valuable tasks.")
	body#service-page
		include ../../parts/header
		include ../../parts/mobile-nav

		section#landing

		section#switcher
			#switch-left
				a(href="/services/relocation")
					include ../../icons/left-arrow
			a(href="/services/outsource").active
				h2.sub-title Project Development
			a(href="/services/outstaff")
				h2.sub-title Dedicated Development Team
			a(href="/services/relocation")
				h2.sub-title Specialist for Relocation
			#switch-right
				a(href="/services/outstaff")
					include ../../icons/left-arrow

		section#description
			.container
				.service-image.outsource
				h1.title.dark Project Development

				h2.sub-title 
					p Aimed at businesses that have a defined objective for the project, constrained in time or budget and do not consider establishing an on-going software development team. With offloading your project to us you will optimize work and save the best in-house staff for more valuable tasks. 

					p For long-term projects (6+ months) we suggest you consider the Dedicated Development Team model.

				h2.sub-title.result You do 5%, we do the remaining 95% for you.

				a(href="/services")
					button(role="button")
						span Services comparison
						span.icon
							include ../../icons/arrow-go

		section#workflow.mobile
			.container
				h1.title You do
				ul.customer-workflow
					li.color-1 Provide technical requirements
					li.color-2 Approve estimate and project offer
				h1.title We do
				ul.uneed-workflow
					li.color-3 Analyze, gather and offer the project estimate (timeline and budget)
					li.color-4 Submit project offer, pricing and schedule
					li.color-5 Set up a team and start a project
					li.color-6 Test and launch of a project
					li.color-7 In case needed, continuous project support

		section#workflow.desktop.animated
			.container
				.workflow-header
					h1.title We do
					h1.title You do
				.workflow-row.right.color-1
					.workflow-item
						.ball
						.arrow
						.text Provide technical requirements
				.workflow-row.left.color-2
					.workflow-item
						.ball
						.arrow
						.text Analyze, gather and offer the project estimate (timeline and budget)
				.workflow-row.left.color-3
					.workflow-item
						.ball
						.arrow
						.text Submit project offer, pricing and schedule
				.workflow-row.right.color-4
					.workflow-item
						.ball
						.arrow
						.text Approve estimate and project offer
				.workflow-row.left.color-5
					.workflow-item
						.ball
						.arrow
						.text Set up a team and start a project
				.workflow-row.left.color-6
					.workflow-item
						.ball
						.arrow
						.text Test and launch of a project
				.workflow-row.left.color-7
					.workflow-item
						.ball
						.arrow
						.text In case needed, continuous project support

		section#result.animated
			h1.title.dark Result
			h2.sub-title You get well-qualified team member, clean and robust code and successfully implemented product

			a(href="/services")
				button(role="button")
					span Services comparison
					span.icon
						include ../../icons/arrow-go

		include ../../parts/footer
		script(type="text/javascript" src="/js/libs.min.js")
		script(type="text/javascript" src="/js/services.min.js")
		include ../../parts/navbar

