doctype html
html(lang="en")
	include ../../parts/head
	body#service-page
		include ../../parts/header
		include ../../parts/mobile-nav

		section#landing

		section#switcher
			#switch-left
			h2.sub-title Dedicated Development Team
			#switch-right

		section#description
			.container
				h1.title.dark Dedicated Development Team

				h2.sub-title We tend to think that model of Decimated Development Team is one of the winning ones for the company which works on development of its own product and needs high-quality resources with good efficiency level at the same time with optimised budget. With this model you will have your dedicated employee or team, who works liked any other of your team members only remotely. This way you don’t have to take care of any organisational details like HR, office, technical equipment, but you receive the same result as from onsite team. 

				h2.sub-title You do 5%, we do rest 95% for you. 

				a(href="/services")
					button(role="button") Services comparison

		section#workflow
			.container
				h1.title You do
				ul.customer-workflow
					li.workflow-item-1 Provide Technical Requirements for candidate 
					li.workflow-item-2 Chat and make final decision
				h1.title We do
				ul.uneed-workflow
					li.workflow-item-3 Search the internal team and the market for the right candidate 
					li.workflow-item-4 HR-team interviews to check personal skills and level of Engli.workflow-itemsh
					li.workflow-item-5 Our best technical professionals interviews to check development skills 
					li.workflow-item-6 Arrange the meeting with you and your team 
					li.workflow-item-7 We set up start of the work and provide office space and technical equipment 
					li.workflow-item-8 We deal with all every-day issues and questions with your team-member

		section#result
			h1.title.dark Result
			h2.sub-title You get well-qualified team member, clean and robust code and successfully implemented product

			a(href="/contact-us")
				button(role="button") Share your requirements

		include ../../parts/footer
		include ../../parts/scripts

