doctype html
html(lang="en")
	include ../../parts/b-head
	+head("Portfolio | UNeed Web", "Web development projects, mobile development projects, product design", "Uneed Web drives innovation into services by crafting web and mobile applications, enlivening them with web design.")
	body
		.page-wrapper

			include ../../parts/b-header
			+b-header("project", "on-game")

			main.page-content

				.project-switcher
					.project-switcher__wrapper
						a.project-switcher__link.project-switcher__link--prev(href="#")
							span.project-switcher__arrow-icon
								include ../../icons/arrow-go
							span Previous Project
						a.project-switcher__link.project-switcher__link--next(href="#")
							span Next Project
							span.project-switcher__arrow-icon
								include ../../icons/arrow-go

				section.section
					.section__wrapper
						span.section__project-type Mobile Development
						h1.section__title ON-GAME
						p.section__text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
				
				section.section.section--on-game-score-block
					.on-game-score-block
						.on-game-score-block__logos
							img.on-game-score-block__logo.on-game-score-block__logo--columb(src="../../images/on-game/columb-logo.png", alt="columb-logo")
							img.on-game-score-block__logo.on-game-score-block__logo--united(src="../../images/on-game/united-logo.png", alt="united-logo")

						table.on-game-score-block__table
							tr.on-game-score-block__table-row
								td.on-game-score-block__table-cell.on-game-score-block__table-cell--logo.on-game-score-block__table-cell--columb
								td.on-game-score-block__table-cell win
								td.on-game-score-block__table-cell.on-game-score-block__table-cell--score 6-4
								td.on-game-score-block__table-cell lose
								td.on-game-score-block__table-cell.on-game-score-block__table-cell--logo.on-game-score-block__table-cell--united
							tr.on-game-score-block__table-row.on-game-score-block__table-row--grey
								td.on-game-score-block__table-cell.on-game-score-block__table-cell--logo.on-game-score-block__table-cell--columb
								td.on-game-score-block__table-cell lose
								td.on-game-score-block__table-cell.on-game-score-block__table-cell--score 3-4
								td.on-game-score-block__table-cell win
								td.on-game-score-block__table-cell.on-game-score-block__table-cell--logo.on-game-score-block__table-cell--united
							tr.on-game-score-block__table-row.on-game-score-block__table-row--dark
								td.on-game-score-block__table-cell.on-game-score-block__table-cell--logo.on-game-score-block__table-cell--columb
								td.on-game-score-block__table-cell win
								td.on-game-score-block__table-cell.on-game-score-block__table-cell--score 6-3
								td.on-game-score-block__table-cell lose
								td.on-game-score-block__table-cell.on-game-score-block__table-cell--logo.on-game-score-block__table-cell--united
							tr.on-game-score-block__table-row.on-game-score-block__table-row--grey
								td.on-game-score-block__table-cell.on-game-score-block__table-cell--logo.on-game-score-block__table-cell--columb
								td.on-game-score-block__table-cell win
								td.on-game-score-block__table-cell.on-game-score-block__table-cell--score 6-4
								td.on-game-score-block__table-cell lose
								td.on-game-score-block__table-cell.on-game-score-block__table-cell--logo.on-game-score-block__table-cell--united
							tr.on-game-score-block__table-row
								td.on-game-score-block__table-cell.on-game-score-block__table-cell--logo.on-game-score-block__table-cell--columb
								td.on-game-score-block__table-cell lose
								td.on-game-score-block__table-cell.on-game-score-block__table-cell--score 3-4
								td.on-game-score-block__table-cell win
								td.on-game-score-block__table-cell.on-game-score-block__table-cell--logo.on-game-score-block__table-cell--united

				section.section.project-features.project-features--on-game
					.section__wrapper
						ul.project-features__list
							li.project-features__item
								.project-features__icon-wrapper
									include ../../icons/on-game-features-ic1
								h3.project-features__item-title Challenge
								p.project-features__item-descr Development a web application for a sports betting company for the audience of 5 million users. Improve desktop app performance two folds and mobile app performance from 30 seconds to 10 seconds.
							li.project-features__item
								.project-features__icon-wrapper
									include ../../icons/on-game-features-ic2
								h3.project-features__item-title Challenge Accepted
								p.project-features__item-descr Based on client requirements, our team developed a technological complex web application that gained more than 120 million sessions per month. The ability to find and watch particular game highlights was implemented through the extension to existing IPTV software. The program also had integrated video batch downloading.
							li.project-features__item
								.project-features__icon-wrapper
									include ../../icons/on-game-features-ic3
								h3.project-features__item-title Performance Improvement
								p.project-features__item-descr Desktop app performance was improved from 9 seconds to 5 seconds, mobile app performance was drastically improved from 30 seconds to 4 seconds.

				section.section.section--without-padding-bottom.section--on-game-big-section
					section.section.section--without-padding-top.section--without-padding-bottom
						.section__wrapper
							h2.section__title Variety of sports
							p.section__text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
						.section__decorative-img.section__decorative-img--on-game-phone-1
					section.section.section--without-padding-top.section--without-padding-bottom
						.section__wrapper
							h2.section__title Real-time updates
							p.section__text Development a web application for a sports betting company for the audience of 5 million users. Improve desktop app performance two folds and mobile app performance from 30 seconds to 10 seconds.
						.section__decorative-img.section__decorative-img--on-game-phone-2
					section.section.section--without-padding-top.section--without-padding-bottom
						.section__wrapper
							h2.section__title Statistics
							p.section__text Based on client requirements, our team developed a technological complex web application that gained more than 120 million sessions per month. The ability to find and watch particular game highlights was implemented through the extension to existing IPTV software.
						.section__decorative-img.section__decorative-img--on-game-phone-3

				section.section.section--on-game-technologies
					.section__wrapper
						h2.section__title Technologies
						p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						ul.section__tags.tags.tags--on-game
							li.tags__item AngularJS
							li.tags__item Jade
							li.tags__item Stylus
							li.tags__item Jasmine
							li.tags__item lodash
							li.tags__item Yeoman
							li.tags__item Google Maps
							li.tags__item Geolocation
						a.section__btn.btn.btn--on-game Next projects
		
			include ../../parts/b-footer
			+b-footer("on-game")
		script.
			(function() {
				var navMain = document.querySelector('.main-nav');
				var navToggle = document.querySelector('.main-nav__toggle');

				navMain.classList.remove('main-nav--nojs');

				navToggle.addEventListener('click', function() {
					if (navMain.classList.contains('main-nav--closed')) {
						navMain.classList.remove('main-nav--closed');
						navMain.classList.add('main-nav--opened');
					} else {
						navMain.classList.remove('main-nav--opened');
						navMain.classList.add('main-nav--closed');
					}
				});
			})();