doctype html
html(lang="en")
	include ../parts/head
	body#services-page
		include ../parts/header
		include ../parts/mobile-nav

		section#description
			.container
				h1.title.dark Services
				h2.sub-title We believe that project is successful when all the needs are met correctly and the project is set smoothly. Before making the table below, we did a market-research and basing on our experience we came to conclusion that the most wining for all sides are the following 3 options. 

		section#service-table
			.services-titles
				.title-header We provide:
				.title-option
					.option-name Onsite Developer/Team
					.option-checkbox
				.title-option
					.option-name Working Space/Equipment for team members
					.option-checkbox.checked
				.title-option
					.option-name PM
					.option-checkbox.checked
				.title-option
					.option-name QA
					.option-checkbox.checked
				.title-option
					.option-name Developer/Team engage ONLY with your project
					.option-value On Demand
				.title-option.last
			.services-slides.swipeshow
				.slides
					.slide
						.slide-header-container
							.slide-left
							.slide-header
								img.service-image(src="/images/gif/outsource.gif" width="100" height="100")
								p Development of the Project
							.slide-right
						.slide-option
							.option-name Onsite Developer/Team
							.option-checkbox
						.slide-option
							.option-name Working Space/Equipment for team members
							.option-checkbox.checked
						.slide-option
							.option-name PM
							.option-checkbox.checked
						.slide-option
							.option-name QA
							.option-checkbox.checked
						.slide-option
							.option-name Developer/Team engage ONLY with your project
							.option-value On Demand
						.slide-option.button
							button(role="button") Get more info
						.slide-option.footer
							a(href="#") Get Started Now
					.slide
						.slide-header-container
							.slide-left
							.slide-header
								img.service-image(src="/images/gif/outstaff.gif" width="100" height="100")
								p Development of the Project
							.slide-right
						.slide-option
							.option-name Onsite Developer/Team
							.option-checkbox
						.slide-option
							.option-name Working Space/Equipment for team members
							.option-checkbox.checked
						.slide-option
							.option-name PM
							.option-checkbox.checked
						.slide-option
							.option-name QA
							.option-checkbox.checked
						.slide-option
							.option-name Developer/Team engage ONLY with your project
							.option-value On Demand
						.slide-option.button
							button(role="button") Get more info
						.slide-option.footer
							a(href="#") Get Started Now
					.slide
						.slide-header-container
							.slide-left
							.slide-header
								img.service-image(src="/images/gif/relocation.gif" width="100" height="100")
								p Development of the Project
							.slide-right
						.slide-option
							.option-name Onsite Developer/Team
							.option-checkbox
						.slide-option
							.option-name Working Space/Equipment for team members
							.option-checkbox.checked
						.slide-option
							.option-name PM
							.option-checkbox.checked
						.slide-option
							.option-name QA
							.option-checkbox.checked
						.slide-option
							.option-name Developer/Team engage ONLY with your project
							.option-value On Demand
						.slide-option.button
							button(role="button") Get more info
						.slide-option.footer
							a(href="#") Get Started Now

		section#service-description
			.container
				p Feel free to take a look at the compatibility table and understand differences and similarities of each one of them. We also consider mixing the models of cooperation. Everything depends on your project, needs and requirements. One thing we definitely guarantee for all options is QUALITY! We hope you find the best option for you! 

		include ../parts/footer
		include ../parts/scripts
		script(type="text/javascript" src="/js/services/index.js")

