doctype html
html(lang="en")
	include ../parts/head
	body#services-page
		include ../parts/header
		include ../parts/mobile-nav

		section#description
			.container
				h1.title.dark Services
				h2.sub-title We believe that project is successful when all the needs are met correctly and the project is set smoothly. Before making the table below, we did a market-research and basing on our experience we came to conclusion that the most wining for all sides are the following 3 options. 

		section#service-table
			.services-titles
				.title-header We provide:
				.title-option
					.option-name Onsite Developer/Team
				.title-option
					.option-name Working Space/Equipment for team members
				.title-option
					.option-name PM
				.title-option
					.option-name QA
				.title-option
					.option-name Developer/Team engage ONLY with your project
				.title-option
					.option-name Fast Start of the Project
				.title-option
					.option-name PM methodology
				.title-option
					.option-name Instant feedback
				.title-option
					.option-name Cardidates interview
				.title-option
					.option-name Client’s engagement in the project
				.title-option
					.option-name Estimates
				.title-option
					.option-name Support
				.title-option
					.option-name Charges
				.title-option
					.option-name Quality
				.title-option.last
			.services-slides.swipeshow
				.slides
					.slide
						.slide-header-container
							.slide-left.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
							.slide-header
								img.service-image(src="/images/gif/outsource.gif" width="100" height="100")
								p Development of the Project
							.slide-right.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
						.slide-option(data-tappable="true")
							.option-name Onsite Developer/Team
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name Working Space/Equipment for team members
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name PM
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name QA
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Developer/Team engage ONLY with your project
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Fast Start of the Project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name PM methodology
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Instant feedback
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Cardidates interview
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Client’s engagement in the project
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Estimates
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Support
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Charges
							.option-value Monthly Payment
						.slide-option(data-tappable="true")
							.option-name Quality
							.option-checkbox.checked
						.slide-option.button(data-tappable="true")
							a(href="/services/outsource")
								button(role="button") Get more info
						.slide-option.footer(data-tappable="true")
							a(href="/contact-us") Get Started Now
					.slide
						.slide-header-container
							.slide-left.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
							.slide-header
								img.service-image(src="/images/gif/outstaff.gif" width="100" height="100")
								p Dedicated Development Team
							.slide-right.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
						.slide-option(data-tappable="true")
							.option-name Onsite Developer/Team
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name Working Space/Equipment for team members
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name PM
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name QA
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Developer/Team engage ONLY with your project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Fast Start of the Project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name PM methodology
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Instant feedback
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Cardidates interview
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Client’s engagement in the project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Estimates
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Support
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Charges
							.option-value Monthly Rates
						.slide-option(data-tappable="true")
							.option-name Quality
							.option-checkbox.checked
						.slide-option.button(data-tappable="true")
							a(href="/services/outstaff")
								button(role="button") Get more info
						.slide-option.footer(data-tappable="true")
							a(href="/contact-us") Get Started Now
					.slide
						.slide-header-container
							.slide-left.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
							.slide-header
								img.service-image(src="/images/gif/relocation.gif" width="100" height="100")
								p Developer for relocation
							.slide-right.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
						.slide-option(data-tappable="true")
							.option-name Onsite Developer/Team
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Working Space/Equipment for team members
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name PM
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name QA
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name Developer/Team engage ONLY with your project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Fast Start of the Project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name PM methodology
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Instant feedback
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Cardidates interview
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Client’s engagement in the project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Estimates
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Support
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name Charges
							.option-value %
						.slide-option(data-tappable="true")
							.option-name Quality
							.option-checkbox.checked
						.slide-option.button(data-tappable="true")
							a(href="/services/relocation")
								button(role="button") Get more info
						.slide-option.footer(data-tappable="true")
							a(href="/contact-us") Get Started Now

		section#service-description
			.container
				p Feel free to take a look at the compatibility table and understand differences and similarities of each one of them. We also consider mixing the models of cooperation. Everything depends on your project, needs and requirements. One thing we definitely guarantee for all options is QUALITY! We hope you find the best option for you! 

		include ../parts/footer
		script(type="text/javascript" src="/js/libs.min.js")
		script(type="text/javascript" src="/js/services.min.js")

