doctype html
html(lang="en")
	include ../parts/head
	body#services-page
		include ../parts/header
		include ../parts/mobile-nav

		section#description
			.container
				h1.title.dark Services
				h2.sub-title Based on scope and duration of a project the following comparison table of 3 services is provided.

		section#service-table
			.services-titles
				.title-header We provide:
				.title-option
					.option-name Onsite Developer/Team
				.title-option
					.option-name Workspace/Equipment
				.title-option
					.option-name PM
				.title-option
					.option-name QA
				.title-option
					.option-name Developer/Team solely engaged with your project
				.title-option
					.option-name Fast Start of the Project
				.title-option
					.option-name PM methodology
				.title-option
					.option-name Instant Feedback
				.title-option
					.option-name Cardidates Interview
				.title-option
					.option-name Continuous Client Engagement
				.title-option
					.option-name Estimates
				.title-option
					.option-name After Release Support
				.title-option
					.option-name Billing
				.title-option.last
			.services-slides.swipeshow.autoheight
				.slides
					.slide
						.slide-header-container
							.slide-left.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
							.slide-header
								.service-image
									include ../icons/outsource
								p Development of the Project
							.slide-right.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
						.slide-option(data-tappable="true")
							.option-name Onsite Developer/Team
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name Workspace/Equipment
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name PM
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name QA
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Developer/Team solely engaged with your project
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Fast Start of the Project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name PM methodology
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Instant Feedback
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Cardidates Interview
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Continuous Client Engagement
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Estimates
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name After Release Support
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Billing
							.option-value Monthly Payment
						.slide-option.button(data-tappable="true")
							a(href="/services/outsource")
								button(role="button") Get more info
						.slide-option.footer(data-tappable="true")
							a(href="/contact-us") Get Started Now
					.slide
						.slide-header-container
							.slide-left.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
							.slide-header
								.service-image
									include ../icons/outstaff
								p Dedicated Development Team
							.slide-right.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
						.slide-option(data-tappable="true")
							.option-name Onsite Developer/Team
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name Workspace/Equipment
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name PM
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name QA
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Developer/Team solely engaged with your project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Fast Start of the Project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name PM methodology
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Instant Feedback
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Cardidates Interview
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Continuous Client Engagement
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Estimates
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name After Release Support
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Billing
							.option-value Monthly Rates
						.slide-option.button(data-tappable="true")
							a(href="/services/outstaff")
								button(role="button") Get more info
						.slide-option.footer(data-tappable="true")
							a(href="/contact-us") Get Started Now
					.slide
						.slide-header-container
							.slide-left.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
							.slide-header
								.service-image
									include ../icons/relocation
								p Developer for relocation
							.slide-right.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
						.slide-option(data-tappable="true")
							.option-name Onsite Developer/Team
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Workspace/Equipment
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name PM
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name QA
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name Developer/Team solely engaged with your project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Fast Start of the Project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name PM methodology
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Instant Feedback
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Cardidates Interview
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Continuous Client Engagement
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Estimates
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name After Release Support
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name Billing
							.option-value %
						.slide-option.button(data-tappable="true")
							a(href="/services/relocation")
								button(role="button") Get more info
						.slide-option.footer(data-tappable="true")
							a(href="/contact-us") Get Started Now

		include ../parts/footer
		script(type="text/javascript" src="/js/libs.min.js")
		script(type="text/javascript" src="/js/services.min.js")

