doctype html
html(lang="en")
	include ../parts/head
	+head("Uneed Services | Uneed Web", "web software development, web design development, dedicated development team, project web development, team extension, agile software engingeering", "Uneed Web partners with companies to sustain them by project development, providing dedicated teams and specialists for relocation.")
	body#services-page
		include ../parts/header
		include ../parts/mobile-nav

		section#description
			.container
				.section-top
					h1.title.dark Services
					h2.sub-title Based on scope and duration of a project, on-site or off-premise delivery team location we provide 3 services. <br/>The combination of services is available.

		section#service-table
			.services-titles
				.title-header We provide:
				.title-option
					.option-name Onsite Developer/Team
				.title-option
					.option-name Workspace/Equipment
				.title-option
					.option-name PM
				.title-option
					.option-name QA
				.title-option
					.option-name Developer/Team solely engaged with your project
				.title-option
					.option-name Fast Start of the Project
				.title-option
					.option-name PM methodology
				.title-option
					.option-name Instant Feedback
				.title-option
					.option-name Candidates Interview
				.title-option
					.option-name Continuous Client Engagement
				.title-option
					.option-name Estimates
				.title-option
					.option-name After Release Support
				.title-option
					.option-name Billing
				.title-option.last
			.services-slides.swipeshow.autoheight
				.slides
					.slide
						.slide-header-container
							.slide-left.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
							.slide-header
								.service-image
									include ../icons/outsource
								p Project Development
							.slide-right.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
						.slide-option(data-tappable="true")
							.option-name Onsite Developer/Team
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name Workspace/Equipment
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name PM
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name QA
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Developer/Team solely engaged with your project
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Fast Start of the Project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name PM methodology
							.option-value SCRUM
						.slide-option(data-tappable="true")
							.option-name Instant Feedback
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Candidates Interview
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Continuous Client Engagement
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Estimates
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name After Release Support
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Billing
							.option-value Monthly Payment
						.slide-option.button(data-tappable="true")
							a(href="/services/outsource")
								button(role="button") Learn More
						.slide-option.footer(data-tappable="true")
							a(href="/contact-us") Start Now
					.slide
						.slide-header-container
							.slide-left.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
							.slide-header
								.service-image
									include ../icons/outstaff
								p Dedicated Development Team
							.slide-right.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
						.slide-option(data-tappable="true")
							.option-name Onsite Developer/Team
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name Workspace/Equipment
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name PM
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name QA
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Developer/Team solely engaged with your project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Fast Start of the Project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name PM methodology
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Instant Feedback
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Cardidates Interview
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Continuous Client Engagement
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Estimates
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name After Release Support
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Billing
							.option-value Monthly Rates
						.slide-option.button(data-tappable="true")
							a(href="/services/outstaff")
								button(role="button") Learn More
						.slide-option.footer(data-tappable="true")
							a(href="/contact-us") Start Now
					.slide
						.slide-header-container
							.slide-left.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
							.slide-header
								.service-image
									include ../icons/relocation
								p Specialist for Relocation
							.slide-right.flex.align-hor-center.align-ver-center
								include ../icons/arrow-go
						.slide-option(data-tappable="true")
							.option-name Onsite Developer/Team
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Workspace/Equipment
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name PM
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name QA
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name Developer/Team solely engaged with your project
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Fast Start of the Project
							.option-value Depends on Visa availability
						.slide-option(data-tappable="true")
							.option-name PM methodology
							.option-value On Demand
						.slide-option(data-tappable="true")
							.option-name Instant Feedback
							.option-value Until the final relocation
						.slide-option(data-tappable="true")
							.option-name Cardidates Interview
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Continuous Client Engagement
							.option-checkbox.checked
						.slide-option(data-tappable="true")
							.option-name Estimates
							.option-value Salary for the Team/Developer
						.slide-option(data-tappable="true")
							.option-name After Release Support
							.option-checkbox
						.slide-option(data-tappable="true")
							.option-name Billing
							.option-value %
						.slide-option.button(data-tappable="true")
							a(href="/services/relocation")
								button(role="button") Learn More
						.slide-option.footer(data-tappable="true")
							a(href="/contact-us") Start Now

		include ../parts/footer
		script(type="text/javascript" src="/js/libs.min.js")
		script(type="text/javascript" src="/js/services.min.js")
		include ../parts/navbar

