doctype html
html(lang="en")
	include ../../parts/b-head
	+head("Data Management | Uneed Web", "Data Management, Localisation helper, Web Development", "Localisation helper a software that eases the translation of an online sports application into multiple languages.")

	body
		.page-wrapper

			include ../../parts/b-header
			+b-header("project")

			main.page-content

				.project-switcher
					.project-switcher__wrapper
						a.project-switcher__link.project-switcher__link--prev(href="#")
							span.project-switcher__arrow-icon
								include ../../icons/arrow-go
							span Previous Project
						a.project-switcher__link.project-switcher__link--next(href="#")
							span Next Project
							span.project-switcher__arrow-icon
								include ../../icons/arrow-go

				section.section
					.section__wrapper
						span.section__project-type Data Management
						h1.section__title What was the challenge?
						p.section__text Provide a solution for translation of an application in 32 languages.

				section.section.section--approaches.approaches.approaches--localisation
					.section__wrapper
						h2.section__title Challenge accepted
						p.section__text To solve the problem of multiple languages our team developed an additional web application that managed project’s localization. The localization helper was an excellent tool to find untranslated or missing words/phrases in translations, securely protected content and prevented from damaging, pulled and gathered data that was previously stored in Google spreadsheets. It divided the users by their role and rights, tracked their activities and provided a backup for accumulated data.

				section.section
					.section__wrapper.section__wrapper--tight
						h2.section__title What technologies did we use?
						ul.section__tags.tags
							li.tags__item NodeJS
							li.tags__item Google Spreadsheet API
							li.tags__item MongoDB
							li.tags__item Angular JS
							li.tags__item Stylus
							li.tags__item Jade
					.slider.slider--project
						ul.slider__slides-wrapper
							li.slider__slide
								.slider__slide-inner
									.slider__img-wrapper
										img(src="../../photos/localisation/localisation-gallery-1.png")
							li.slider__slide
								.slider__slide-inner
									.slider__img-wrapper
										img(src="../../photos/localisation/localisation-gallery-2.png")
						.slider__dots
							button.slider__dot.slider__dot--active(type="button")
							button.slider__dot(type="button")
					.section__wrapper.section__wrapper--tight
						a.section__btn.btn(href="/portfolio/b-index.html") Back to all projects
							include ../../icons/arrow-go

			include ../../parts/b-footer
			+b-footer("project")
		script(src="/js/main-nav.min.js")
		script.

			(function () {
				var slider = document.querySelector('.slider'),
						slidesWrapper = slider.querySelector('.slider__slides-wrapper'),
						slideItems = slider.querySelectorAll('.slider__slide'),
						slidesCount = slideItems.length,
						sliderStepValue = 100/slidesCount,
						slideCurrent = 1,
						sliderDots = slider.querySelectorAll('.slider__dot');

				function slideChange (index) {
					var	sliderTransValue = (index-1)*sliderStepValue;
					slidesWrapper.style.transform = 'translateX(-'+sliderTransValue+'%)';
					sliderDots[slideCurrent-1].classList.remove('slider__dot--active');
					sliderDots[index-1].classList.add('slider__dot--active');
					slideCurrent = index;
				};

				slidesWrapper.style.width = slidesCount*100+'%';

				sliderDots.forEach(function (item, index) {
					sliderDots[index].addEventListener('click', function () {
						slideChange(index+1);
					});
				});

				window.addEventListener('keydown', function (event) {
					if (event.keyCode == 37 && slideCurrent > 1) {
						slideChange(slideCurrent-1);
					}
					if (event.keyCode == 39 && slideCurrent < slidesCount) {
						slideChange(slideCurrent+1);
					}
				});

			})();