.approaches
	background-repeat no-repeat
	background-position center
	background-size cover
	&--banking
		background-image url("../photos/banking/banking-image-1.png")
	&--booking
		background-image url("../photos/booking/booking-image-1.png")
	&--gambling
		background-image url("../photos/gambling/gambling-image-1.png")
	&--localisation
		background-image url("../photos/localisation/localisation-image-1.png")
	&--social-travel
		background-image url("../photos/social-travel/social-travel-image-1.png")
	&--yow
		background-image url("../photos/booking/booking-image-1.png")