.btn
	display inline-flex
	align-items center
	justify-content center
	box-sizing border-box
	padding 1rem 2.5rem
	font-family $main-font
	font-size 16px
	font-weight 400
	letter-spacing 0.3px
	text-decoration none
	text-align center
	color #8492af
	background-color transparent
	border solid 2px #8492af
	border-radius 4px
	transition all $transition-duration
	cursor pointer
	&--on-game
		color #555
		border-color #555
	svg
		*
			transition all $transition-duration
	&:hover, &:active
		color #fff
		background-color #ff6955
		border-color #ff6955
		svg
			*
				fill #fff