.contact-info
	// background-color $main-color
	
.contact-info__wrapper
	wrapper()

.contact-info__item-inner
	display flex
	align-items center
	padding-left 2.75rem
	margin-bottom 1rem
	svg
		margin-right 1rem
	
.contact-info__address
	font-style normal
	color #8492af
	
.contact-info__phone
	a
		display block
		text-decoration none
		color #8492af

.contact-info__email
	a
		display block
		text-decoration none
		color #8492af