.features-item
	display flex
	align-items center
	justify-content flex-start
	padding-top 20px
	padding-bottom 20px
	&--icon-left
		svg
			flex-shrink 0
			margin-right 1.25rem

.features-item__descr
	font-size 16px
	font-weight 400
	letter-spacing 0.3px
	color #fefefe
	opacity 0.8