.logo
	a
		display flex
		justify-content center
		align-items center
		svg
			&:first-child
				width 43px
				margin-right 0.5rem
			&:last-child
				width 75px
				
@media $tablet-widths
	
	.logo
		a
			svg
				&:first-child
					width 52px
					margin-right 0
				&:last-child
					display none
					
@media $tablet-landscape-widths

	.logo
		a
			svg
				&:first-child
					margin-right 1rem
					transition all 0.7s
				&:last-child
					display block
					width 113px
			&:hover
				svg
					&:first-child
						transform rotateY(180deg)