.main-features
	margin-top 3.125rem
	
.main-features__wrapper
	margin 0 auto

.main-features__list
	ul-reset()
	display flex
	flex-wrap wrap
	
@media $tablet-widths

	.main-features__list
		wrapper()
		justify-content space-around

@media $desktop-widths

	.main-features__list
		max-width 46rem