.main-features-item
	display flex
	align-items center
	justify-content flex-start
	padding 1rem
	padding-top 0
	&--icon-left
		svg
			flex-shrink 0
			margin-right 1rem

.main-features-item__descr
	margin 0
	font-size 16px
	font-weight 400
	letter-spacing 0.3px
	color #fefefe
	opacity 0.8
	
@media $tablet-widths

	.main-features-item
		width 19rem
		padding 1rem
		padding-left 0
		for num in (3 4)
			&:nth-child({num})
				.main-features-item__icon-wrapper
					animation-delay 0.3s
		for num in (5 6)
			&:nth-child({num})
				.main-features-item__icon-wrapper
					animation-delay 0.6s