.portfolio-item
	display flex
	flex-direction column
	align-items center
	justify-content center

.portfolio-item__descr
	font-size 14px
	line-height 1.38
	letter-spacing 0.3px
	text-align center
	color #8492af
	
.portfolio-item__tags-list
	ul-reset()
	display flex
	flex-wrap wrap
	justify-content center
	
.portfolio-item__link
	svg
		margin-left 0.7rem