.project-page-reverse-block
	overflow hidden
	font-family $main-font
	&--trawell
		background-image linear-gradient(to bottom, #f6f7fa, #ffffff)
	&--on-game
		background-image url("../photos/on-game/bg.jpg")
		background-repeat no-repeat
		background-size cover
		background-position center
		.project-page-reverse-block__title
			color #dbdbdb
		.project-page-reverse-block__text
			color #fff
	&--yow
		background-image linear-gradient(to bottom, #f6f7fa, #ffffff)
		.project-page-reverse-block__title
			color #0e1a35
		.project-page-reverse-block__text
			color #8492af
	
.project-page-reverse-block__section
	&--with-padding-top
		padding-top 5rem
	&--with-padding-bottom
		padding-bottom 5rem
	&--without-padding-bottom
		padding-bottom 0
	
.project-page-reverse-block__title
	padding 0
	margin 0
	margin-bottom 1.25rem
	font-size 30px
	font-weight 300
	text-align center
	
.project-page-reverse-block__text
	padding 0
	margin 0 auto
	max-width 85%
	font-size 16px
	font-weight 400
	line-height 1.33
	text-align center
	
.project-page-reverse-block__decorative-img
	position relative
	background-repeat no-repeat
	&--trawell-1
		height 400px
		background-image url("../images/trawell/calendar-image-1.png")
		background-position center
		background-size auto 100%
	&--trawell-2
		height 400px
		background-image url("../images/trawell/event-image-2.png")
		background-position center
		background-size auto 100%
	&--on-game-1
		height 370px
		margin-top 3rem
		margin-bottom 3rem
		background-image url("../images/on-game/image-1.png")
		background-position center
		background-size auto 100%
		
	&--on-game-2
		height 298px
		margin-top 1.5rem
		margin-bottom 3.5rem
		background-image url("../images/on-game/image-2.png")
		background-position center
		background-size auto 100%
		
	&--on-game-3
		left calc(50% - 7rem)
		height 517px
		margin-top 3rem
		background-image url("../images/on-game/image-3.png")
		background-position left
		background-size auto 100%
		
	&--yow-1
		height 280px
		margin-bottom 2rem
		background-image url("../images/yow/about-image.png")
		background-position center
		background-size contain
		
	&--yow-2
		height 280px
		margin-top 5rem
		margin-bottom 4.3rem
		background-image url("../images/yow/share-image.png")
		background-position center
		background-size auto 100%
		@media (min-width: 490px)
			height 57vw
		
@media $tablet-widths

	.project-page-reverse-block__title
		font-size 48px
	
	.project-page-reverse-block__text	
		max-width 41rem
		font-size 18px
		
	.project-page-reverse-block__decorative-img
		&--trawell-1
			height 658px
		&--trawell-2
			height 658px
		&--on-game-1
			height 584px
			margin-top 3.5rem
			margin-bottom 4.8rem
		&--on-game-2
			height 484px
			margin-top 4rem
			margin-bottom 4.6rem
		&--on-game-3
			height 693px
			margin-top 3.2rem
			left calc(50% - 9rem)
		&--yow-1
			height 460px
			margin-bottom 3rem
		&--yow-2
			height 650px
			margin-bottom 4rem
		
@media $desktop-widths

	.project-page-reverse-block__section
		display flex
		&:nth-child(odd)
			> *:first-child
				*
					text-align right
			> *:last-child
				*
					text-align left
		&:nth-child(even)
			> *:first-child
				order 2
				*
					text-align left
			> *:last-child
				*
					text-align right
		.project-page-reverse-block__decorative-img
			width 60%
			margin 0
			background-size contain
		.project-page-reverse-block__inner
			display flex
			flex-direction column
			justify-content center
			width 40%
			margin 0
					
	.project-page-reverse-block__wrapper
		wrapper()
		
	.project-page-reverse-block__decorative-img
		&--trawell-1
			right 7rem
		&--trawell-2
			left 14rem
		&--on-game-1
			left 5rem
		&--on-game-2
			left -8rem
		&--on-game-3
			left 13rem
		&--yow-1
			right 9%
		&--yow-2
			left 17%
			background-image url("../images/yow/share-image-desktop.png")