.section
	padding-top 5rem
	padding-bottom 5rem
	font-family $main-font
	&--first-after-menu
		padding-top 10.5rem
	&--without-padding-top
		padding-top 0
	&--without-padding-bottom
		padding-bottom 0
	&--small-padding-bottom
		padding-bottom 3.125rem
	&--without-title
		padding-top 0
	&--main-color
		background-color $main-color
		.section__title
			color #fff
		.section__text
			color #8c9ab5
	&--bottom-with-gradient
		bottom-with-gradient(#4444b9, #ec523e)
	&--slide
		display flex
		flex-direction column
		box-sizing border-box
		height 100%
		.section__btn
			width auto
			margin-top auto
			margin-right auto
			margin-left 0
	&--approaches
		.section__title
			color #fff
		.section__text
			color #f3f8ff
	&--on-game-score-block
		padding-top 0
	&--on-game-big
		background-image url("../photos/on-game/bg.jpg")
		background-size cover
		background-position center
		.section__title
			color #dbdbdb
		.section__text
			color #fff
	&--on-game-technologies
		background-image linear-gradient(to bottom, #ffe244, #d7bb0e)
		.section__title
			color #0e1a35
		.section__text
			margin-bottom 2.3rem
			color #555
	&--full-screen
		display flex
		align-items center
		justify-content center
		background-image linear-gradient(to bottom, #f6f7fa, #ffffff)

.section__wrapper
	wrapper-fluid()
	display flex
	flex-direction column
	
.section__project-type
	display block
	margin-bottom 1.25rem
	font-size 13px
	letter-spacing 0.3px
	text-transform uppercase
	text-align center
	color #555555	
	
.section__title
	padding 0
	margin 0
	margin-bottom 1.25rem
	font-size 30px
	font-weight 300
	text-align center
	color #0e1a35
	&--text-left
		text-align left
	
.section__text
	padding 0
	margin 0 auto
	max-width 41rem
	font-size 16px
	font-weight 400
	line-height 1.33
	text-align center
	color #8492af
	&--text-left
		text-align left
		margin 0
	&--with-margin-bottom
		margin-bottom 1.5rem
	&--hidden-on-mobile
		display none
	
.section__decorative-img
	margin-top 2.75rem
	background-repeat no-repeat
	&--on-game-phone-1
		height 370px
		background-image url("../images/on-game/image-1.png")
		background-size auto 100%
		background-position center
	&--on-game-phone-2
		height 298px
		background-image url("../images/on-game/image-2.png")
		background-size auto 100%
		background-position center
	&--on-game-phone-3
		height 517px
		// padding-top 160%
		background-image url("../images/on-game/image-3.png")
		background-size auto 100%
		background-position 43px
.section__tags
	margin-bottom 6.125rem
	
.section__btn
	display flex
	align-self center
	margin 0 auto
	svg
		margin-left 0.7rem

@media $tablet-widths

	.section
		&--slide
			background-repeat no-repeat			
			background-size auto 100%
			> *
				width 31rem
		&--slide-project
			background-image url("../images/png/outsource.png")
			background-position top left 28rem
		&--slide-team
			background-image url("../images/png/outstaff.png")
			background-position top left 31rem
		&--slide-relocation
			background-image url("../images/png/relocation.png")
			background-position top left 32rem
			
		&--on-game-score-block
			background-image linear-gradient(to top, #ffffff, #f7f7f7)
			
		&--full-screen
			.section__wrapper
				margin auto
			
	.section__wrapper
		&--tight
			width 46rem	
		&--margin-left-only
			width 95%
			margin-right 0

	.section__title
		font-size 48px
		
	.section__text
		font-size 18px
		&--hidden-on-mobile
			display inline
		
	.section__decorative-img
		&--on-game-phone-1
			height 584px
		&--on-game-phone-2
			height 484px
		&--on-game-phone-3
			height 693px
			background-position 225px

@media $desktop-widths

	.section
		&--projects-reverse
			display flex
			flex-wrap wrap
			> .section
				display flex
				&:nth-child(even)
					> .section__wrapper
						order 2
						.section__title, .section__text
							text-align left
				> *
					width 50%
					margin 0
				> .section__wrapper
					display flex
					flex-direction column
					justify-content center
					padding 0 5rem
					.section__title, .section__text
						text-align right
			
		&--on-game-score-block
			padding-top 5rem
			
	.section__wrapper
		&--margin-left-only
			width 75%

	.section__btn
		&--hidden-on-desktop
			display none