.section
	padding-top 5rem
	padding-bottom 5rem
	font-family $main-font
	&--first-after-menu
		padding-top 10.5rem
	&--without-padding-top
		padding-top 0
	&--without-padding-bottom
		padding-bottom 0
	&--small-padding-bottom
		padding-bottom 3.125rem
	&--without-title
		padding-top 0
	&--main-color
		background-color $main-color
		.section__title
			color #fefefe
		.section__text
			color #576076
	&--bottom-with-gradient
		bottom-with-gradient(#4444b9, #ec523e)
	&--on-game-score-block
		padding-top 0
	&--on-game-big-section
		background-image url("../photos/on-game/bg.jpg")
		background-size cover
		.section__title
			color #dbdbdb
		.section__text
			color #fff
	&--on-game-technologies
		background-image linear-gradient(to bottom, #ffe244, #d7bb0e)
		.section__title
			color #0e1a35
		.section__text
			margin-bottom 2.3rem
			color #555

.section__wrapper
	wrapper()
	
.section__project-type
	display block
	margin-bottom 1.25rem
	font-size 13px
	letter-spacing 0.3px
	text-transform uppercase
	text-align center
	color #555555	
	
.section__title
	padding 0
	margin 0
	margin-bottom 1.25rem
	font-size 30px
	font-weight 100
	text-align center
	color #0e1a35
	
.section__text
	padding 0
	margin 0
	font-size 16px
	font-weight 200
	text-align center
	color #8492af
	
.section__decorative-img
	// display none
	margin-top 2.75rem
	background-repeat no-repeat
	// background-size contain
	&--on-game-phone-1
		min-height 370px
		background-image url("../images/on-game/image-1.png")
		// background-size 120%
		background-size auto 370px
		background-position center
	&--on-game-phone-2
		min-height 298px
		background-image url("../images/on-game/image-2.png")
		// background-size 160%
		background-size auto 298px
		background-position center
	&--on-game-phone-3
		min-height 517px
		background-image url("../images/on-game/image-3.png")
		background-size auto 517px
		background-position 25px
.section__tags
	margin-bottom 6.125rem
	
.section__btn
	display block
	width 85%
	margin 0 auto
	svg
		margin-left 0.7rem

@media $tablet-widths
	
	.section__title
		font-size 48px
		
	.section__text
		font-size 18px
		
@media $desktop-widths

	.section__text
		padding-right 5rem
		padding-left 5rem