.section
	padding-top 5rem
	padding-bottom 5rem
	font-family $main-font
	&--first-after-menu
		padding-top 10.5rem
	&--without-padding-top
		padding-top 0
	&--small-padding-bottom
		padding-bottom 3.125rem
	&--without-title
		padding-top 0
	&--dark
		.section__title
			color #fefefe
		.section__text
			color #576076
	&--main-color
		background-color $main-color
	&--bottom-with-gradient
		bottom-with-gradient(#4444b9, #ec523e)

.section__wrapper
	wrapper()
	
.section__title
	padding 0
	margin 0
	margin-bottom 1.25rem
	font-size 30px
	font-weight 100
	text-align center
	color #0e1a35
	
.section__text
	padding 0
	margin 0
	font-size 16px
	text-align center
	color #8492af
	
.section__btn
	display block
	width 85%
	margin 0 auto
	svg
		margin-left 0.7rem
	
@media $tablet-widths
	
	.section__title
		font-size 48px
		
	.section__text
		font-size 18px
		
@media $desktop-widths

	.section__text
		padding-right 5rem
		padding-left 5rem