.slider
	overflow hidden
	&--project
		.slider__slide-inner
			display flex
			justify-content center
			max-height 420px
			img
				max-height 320px
		
.slider__slides-wrapper
	ul-reset()
	display flex
	margin-bottom 2rem
	transition all $transition-duration ease

.slider__slide
	width 100%
	
.slider__dots
	display flex
	justify-content center
	margin-bottom 1.5rem
	
.slider__dot
	width 10px
	height 10px
	padding 0
	margin 0.5rem
	background-color #f3f8ff
	border solid 1px #e3eaf3
	border-radius 50%
	outline none
	transition all $transition-duration
	cursor pointer
	&--active
		background-color #8492af
		border solid 1px #778ab4
	&:not(&--active):hover
		background-color rgba(#8492af, 0.5)
		border-color rgba(#778ab4, 0.3)