.subscribe__title
	padding 0
	margin 0
	margin-bottom 1.25rem
	font-size 18px
	text-align center
	color #f3f8ff

.subscribe__btn
	color #fff
	background-color #576076
	border none
	&:hover, &:active
		background-color #8492af
		
@media $desktop-widths

	.subscribe__title
		text-align left