$animation-delay-step = 0.1s

.tags
	ul-reset()
	display flex
	flex-wrap wrap
	justify-content center
	margin-top 1rem
	&--on-game
		.tags__item
			color #dd9b0c
			background-color #fff072
			border solid 1px #fec604

.tags__item
	display inline-block
	font-size 14px
	color #8092ba
	font-weight 300
	margin 0.3rem
	padding 0.3rem 1rem
	border-radius 15px
	background-color #f3f8ff
	border solid 1px #e3eaf3
	for num in (1..15)
		&:nth-child({num})
			animation-delay $animation-delay-step*num
			
@media $tablet-widths

	.tags
		max-width 41rem
		margin-right auto
		margin-left auto