doctype html
html(lang="en")
	include ../parts/head
	+head("Portfolio | UNeed Web", "Web development projects, mobile development projects, product design", "Find out our track record of high quality tech solutions for web and mobile development, web design and more.")
	body#portfolio-page
		include ../parts/header
		include ../parts/mobile-nav

		section#description
			.container
				.section-top
					h1.title.dark Portfolio
					h2.sub-title We have a proven track record of building high-quality solutions for customers all over the world. Browse through our case studies and see projects that we have implemented.

		section#switcher
			#switch-left
				a(onclick="uneed.onPrevPortfolioFilter()")
					include ../icons/left-arrow
			a#all-filter.active(onclick="uneed.onChangePortfolioFilter('all')")
				h2.sub-title All
			a#web-filter(onclick="uneed.onChangePortfolioFilter('web')")
				h2.sub-title Web Development
			a#mobile-filter(onclick="uneed.onChangePortfolioFilter('mobile')")
				h2.sub-title Mobile Development
			a#design-filter(onclick="uneed.onChangePortfolioFilter('design')")
				h2.sub-title Product Design
			#switch-right
				a(onclick="uneed.onNextPortfolioFilter()")
					include ../icons/left-arrow

		section#projects.all-filter
			.container
				.project.travel.web
					.project-background
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Travel
						.project-footer
							.description Development of a web application for a travel company with a complete 			customer planning journey features.
							a.details-link(href="/portfolio/travel")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project.sport.web
					.project-background
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Entertainment
						.project-footer
							.description Development a web application for a sports betting company for the audience of 5 million users.
							a.details-link(href="/portfolio/sport")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project.yow.mobile.design
					.project-background
					.overlay
					.project-content
						.project-header
							h2.type Mobile Development
							.name Travel
						.project-footer
							.description Our own mobile application that keeps track of the places you visit and shows your exploration progress.
							a.details-link(href="/portfolio/yow")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project.banking.web
					.project-background
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Banking / Finance
						.project-footer
							.description Creation of a fee billing system for a major Hong Kong corporate bank. A software that calculates operational and managerial fees.
							a.details-link(href="/portfolio/banking")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project.gambling.web
					.project-background
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Gambling
						.project-footer
							.description Revamping of existing gambling web applications for a betting company with interactive components.
							a.details-link(href="/portfolio/gambling")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project.social-travel.web
					.project-background
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Travel
						.project-footer
							.description Creation of an engaging travel-oriented social network service with an embedded e-commerce platform.
							a.details-link(href="/portfolio/social-travel")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project.localisation.web.design
					.project-background
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Data Management
						.project-footer
							.description Localisation helper: a software that eases the translation of an online sports application into multiple languages.
							a.details-link(href="/portfolio/localisation")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go

		//- section#result.section-top
		//- 	h1.title.dark Technologies
		//- 	h2.sub-title Working through a variety of projects, our main technologies are:
		//- 	h2.sub-title.fe-dev Front-end development:
		//- 	.tags
		//- 		.tag JS
		//- 		.tag HTML
		//- 		.tag CSS
		//- 		.tag PHP
		//- 		.tag SQL
		//- 		.tag Responsive Design
		//- 		.tag React
		//- 		.tag Angular JS
		//- 		.tag Node
		//- 		.tag JQuery
		//- 	h2.sub-title.be-dev Back-end development:
		//- 	.tags
		//- 		.tag PHP
		//- 		.tag Python
		//- 		.tag Java
		//- 		.tag SQL
		//- 		.tag Perl
		//- 		.tag RESTful
		//- 		.tag Yii
		//- 		.tag Django

		//- 	a(href="/contact-us")
		//- 		button(role="button")
		//- 			span Contact Us
		//- 			span.icon
		//- 				include ../icons/arrow-go

		include ../parts/footer
		script(type="text/javascript" src="/js/libs.min.js")
		script(type="text/javascript" src="/js/portfolio.min.js")
		include ../parts/navbar

