doctype html
html(lang="en")
	include ../parts/head
	body#portfolio-page
		include ../parts/header
		include ../parts/mobile-nav

		section#description
			.container
				h1.title.dark Portfolio
				h2.sub-title We have a proven track record of building high-quality solutions for customers all over the world. Browse through our case studies and see projects that we have implemented.

		section#switcher
			#switch-left
				include ../icons/left-arrow
			a.active(href="#")
				h2.sub-title All
			a(href="#")
				h2.sub-title Web Development
			a(href="#")
				h2.sub-title Mobile Development
			a(href="#")
				h2.sub-title Product Design
			#switch-right
				include ../icons/left-arrow

		section#projects
			.container
				.project.travel
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Travel
						.project-footer
							.description Development of a web application for a traveling company with a complete 			customer planning journey features.
							a.details-link(href="/portfolio/travel")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project.sport
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Entertainment
						.project-footer
							.description Development a web application for a sports betting company for the audience of 5 million users.
							a.details-link(href="/portfolio/sport")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project.yow
					.overlay
					.project-content
						.project-header
							h2.type Mobile Development
							.name Travel
						.project-footer
							.description Our own mobile travel application.
							a.details-link(href="/portfolio/yow")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project.banking
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Banking / Finance
						.project-footer
							.description A fee billing system project for a major Hong Kong bank.
							a.details-link(href="/portfolio/banking")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project.gammling
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Gambling
						.project-footer
							.description Revamping of existing gambling web applications for a betting company.
							a.details-link(href="/portfolio/gambling")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project.social-travel
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Travel
						.project-footer
							.description Creation of an engaging travel-oriented social network service.
							a.details-link(href="/portfolio/social-travel")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project.localisation
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Data Management
						.project-footer
							.description Localisation helper for an online sport application
							a.details-link(href="/portfolio/localisation")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go

		section#result
			h1.title.dark Result
			h2.sub-title You get well-qualified team member, clean and robust code and successfully implemented product

			a(href="/contact-us")
				button(role="button")
					span Share your requirements
					span.icon
						include ../icons/arrow-go

		include ../parts/footer

