doctype html
html(lang="en")
	include ../parts/head
	body#portfolio-page
		include ../parts/header
		include ../parts/mobile-nav

		section#description
			.container
				h1.title.dark Portfolio
				h2.sub-title We have a proven track record of building high quality solutions for customers all over the world. Browse through our case studies to find projects that are similar to yours and with clients from your region.

		section#switcher
			#switch-left
			a.active(href="#")
				h2.sub-title All
			a(href="#")
				h2.sub-title Web Development
			a(href="#")
				h2.sub-title Mobile Development
			a(href="#")
				h2.sub-title Product Design
			#switch-right

		section#projects
			.container
				.project.travel
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Travel Application
						.project-footer
							.description Travel system which introduces the new level of the travel experience. Gives a possibility to plan your trip, book the flight and hotel tickets, assist the customer during the vacation. It includes the innovative way to manage the user purchases and preferences, provides the new way of data input - NLP (Natural Language Processing)
							a.details-link(href="/portfolio/travel")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project.sport
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Sport Application
						.project-footer
							.description A real-time web application for visualization different sport events.
							a.details-link(href="/portfolio")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project.yow
					.overlay
					.project-content
						.project-header
							h2.type Mobile Development
							.name YOW
						.project-footer
							.description Yow application description would be here in the nearest future
							a.details-link(href="/portfolio")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Travel Application
						.project-footer
							.description Travel system which introduces the new level of the travel experience. Gives a possibility to plan your trip, book the flight and hotel tickets, assist the customer during the vacation. It includes the innovative way to manage the user purchases and preferences, provides the new way of data input - NLP (Natural Language Processing)
							a.details-link(href="/portfolio")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Travel Application
						.project-footer
							.description Travel system which introduces the new level of the travel experience. Gives a possibility to plan your trip, book the flight and hotel tickets, assist the customer during the vacation. It includes the innovative way to manage the user purchases and preferences, provides the new way of data input - NLP (Natural Language Processing)
							a.details-link(href="/portfolio")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Travel Application
						.project-footer
							.description Travel system which introduces the new level of the travel experience. Gives a possibility to plan your trip, book the flight and hotel tickets, assist the customer during the vacation. It includes the innovative way to manage the user purchases and preferences, provides the new way of data input - NLP (Natural Language Processing)
							a.details-link(href="/portfolio")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go
				.project
					.overlay
					.project-content
						.project-header
							h2.type Web Development
							.name Travel Application
						.project-footer
							.description Travel system which introduces the new level of the travel experience. Gives a possibility to plan your trip, book the flight and hotel tickets, assist the customer during the vacation. It includes the innovative way to manage the user purchases and preferences, provides the new way of data input - NLP (Natural Language Processing)
							a.details-link(href="/portfolio")
								button.details-button(type="button")
									span Details
									span.icon
										include ../icons/arrow-go

		section#result
			h1.title.dark Result
			h2.sub-title You get well-qualified team member, clean and robust code and successfully implemented product

			a(href="/contact-us")
				button(role="button")
					span Share your requirements
					span.icon
						include ../icons/arrow-go

		include ../parts/footer

