doctype html
html(lang="en")
	include ../../parts/head
	+head("Portfolio - Travel | UNeed Web", "Travel application, Web Development, NLP technology", "Development of a web application for a travel company with a complete customer planning journey features.")
	body#portfolio-project-page
		include ../../parts/header
		include ../../parts/mobile-nav

		section#landing

		section#description
			.container
				.buttons-container
					a(href="/portfolio/social-travel")
						button.prev-project
							span.icon.rotated
								include ../../icons/arrow-go
							span Previous Project
					a(href="/portfolio/sport")
						button.next-project
							span Next Project
							span.icon
								include ../../icons/arrow-go
				.section-top
					h2.type Travel
					h1.title.dark What was the challenge?
					h2.sub-title Develop a web application for a travel company with a complete customer planning journey features. Improve user search performance by using NLP technology.

		section#approaches.section-top.travel
			.container
				h1.title Challenge accepted
				h2.sub-title 
					p After defining initial requirements, tools and frameworks for the project, the travel website was developed and featured GDS integration with booking engine, invoicing and payment system. Built on a cross platform and with a responsive design it contained a simplified booking process with real-time results. 
					p The natural language processing entity linking was implemented for user search performance improvement. This data input technology allowed determining the identity of entities mentioned in the text by user.

		section#technologies
			.container
				.section-top
					h1.title.dark What technologies did we use?
					.tags
						.tag Angular JS
						.tag Jade
						.tag Stylus
						.tag GulpJS, lodash
						.tag Yeoman
						.tag Google Maps API
						.tag Geolocation
						.tag AWS (EC2)
						.tag Jenkins
						.tag Git
						.tag Karma
						.tag Jasmine

		section#gallery
			.container
				.gallery-container.swipeshow.travel
					.slides
						.slide
						.slide
					.dots
					.slide-left
					.slide-right

		section#back
			a(href="/portfolio")
				button(role="button")
					span Back to all projects
					span.icon
						include ../../icons/arrow-go

		include ../../parts/footer
		script(type="text/javascript" src="/js/libs.min.js")
		script(type="text/javascript" src="/js/portfolio.min.js")
		include ../../parts/navbar

