doctype html
html(lang="en")
	include ../parts/head
	+head("Outstanding software engineering practices | UNeed Web", "where to outsource software development, how to find offshore software development company, why outsource web development, how to find web design company", "At UNeed Web we deliver top-quality web developement services (web sites, web apps, offshore IT outsourcing). Our experienced team of developers, designers and project managers implement customised web projects.")
	body#contact-us-page
		include ../parts/header
		include ../parts/mobile-nav

		.body-wrapper
			#contact-heading
				.section-top
					h1.title.dark Contact Us
					h2.sub-title Lets discuss how we can leverage leverage your IT resources.<br/>We will contact you within 24 hours after receiving your message.

			#contact-body
				.contact-form
					h1.title.dark Send Us a Message
					form(name="contactForm" action="/mail-us" method="POST")
						.form-container
							input#user_name(type="text" placeholder="Name" name="name" required)
							input#user_email(type="email" placeholder="Email" name="email" required)
							input#user_phone(type="tel" placeholder="Phone Number (optional)" name="phone" pattern="^\d{4}-\d{3}-\d{4}$")
							textarea#user_message(name="message" rows="5" placeholder="Message")
						button.white(type="submit") Send Email

				.contact-info
					.details
						h1.title Contact Details
					.contacts
						address.flex.align-ver-center
							span.icon
								include ../icons/address
							span Kiev, Ukraine, 02140, Bazhana Ave 24/1
						p
							a.flex.align-ver-center(href="tel:380955914765")
								span.icon
									include ../icons/phone
								span +38 099 4612335
						p
							a.flex.align-ver-center(href="mailto:info@uneedweb.com?subject=Contact Uneed Web")
								span.icon
									include ../icons/mail
								span info@uneedweb.com

		include ../parts/footer
		script(type="text/javascript" src="/js/contact-us.min.js")

