doctype html
html(lang="en")
	include ../parts/head
	+head("Something to Ask - Contact Us | UNeed Web", "where to outsource software development, how to find offshore software development company, why outsource web development, how to find web design company", "We would love to hear what projects, ideas, endeavours you have! Fill in the form and we'll get back as soon as we can!")
	body#contact-us-page
		include ../parts/header
		include ../parts/mobile-nav

		.body-wrapper
			#contact-heading
				.section-top
					h1.title.dark Contact Us
					h2.sub-title We would love to hear what projects, ideas, endeavours you have!<br/> Fill in the form and we'll get back as soon as we can!

			#contact-body
				.contact-form
					h1.title.dark Send Us a Message
					form(name="contactForm" action="/mail-us" method="POST")
						.form-container
							input#user_name(type="text" placeholder="Name" name="name" required)
							input#user_email(type="email" placeholder="Email" name="email" required)
							input#user_phone(type="tel" placeholder="Phone Number (optional)" name="phone")
							textarea#user_message(name="message" rows="5" placeholder="Message")
						button.white(type="submit") Send Email

				.contact-info
					.details
						h1.title Contact Details
					.contacts
						address.flex.align-ver-center
							span.icon
								include ../icons/address
							span Kiev, Ukraine, 02140, Bazhana Ave 24/1
						p
							a.flex.align-ver-center(href="tel:380955914765")
								span.icon
									include ../icons/phone
								span +38 095 591 4765
						p
							a.flex.align-ver-center(href="mailto:info@uneedweb.com?subject=Contact Uneed Web")
								span.icon
									include ../icons/mail
								span info@uneedweb.com
						p.services
							a(href="https://www.facebook.com/uneedweb/" target="_blank")
								img(src="/images/png/services/facebook.png", alt="facebook icon", width="35")
							a(href="https://www.linkedin.com/company/18188825/" target="_blank")
								img(src="/images/png/services/linkedin.png", alt="linkedin icon", width="35")

		include ../parts/footer
		script(type="text/javascript" src="/js/libs.min.js")
		script(type="text/javascript" src="/js/contact-us.min.js")
		include ../parts/navbar

