doctype html
html(lang="en")
	include ../parts/head
	body#contact-us-page
		include ../parts/header
		include ../parts/mobile-nav

		.body-wrapper
			#contact-heading
				.section-top
					h1.title.dark Contact Us
					h2.sub-title Lets discuss how we can leverage leverage your IT resources.

			#contact-body
				.contact-form
					h1.title.dark Send Us a Message
					form(name="contactForm" action="/mail-us" method="POST")
						.form-container
							input#user_name(type="text" placeholder="Name" name="name" required)
							input#user_email(type="email" placeholder="Email" name="email" required)
							input#user_phone(type="tel" placeholder="Phone Number (optional)" name="phone" pattern="^\d{4}-\d{3}-\d{4}$")
							textarea#user_message(name="message" rows="5" placeholder="Message")
						button.black(type="submit") Send Email

				.contact-info
					.details
						h1.title Contact Details
					.contacts
						address.flex.align-ver-center
							span.icon
								include ../icons/address
							span Kiev, Ukraine, 02140, Bazhana Ave 24/1
						p
							a.flex.align-ver-center(href="tel:380955914765")
								span.icon
									include ../icons/phone
								span +38 099 4612335
						p
							a.flex.align-ver-center(href="mailto:info@uneedweb.com?subject=Contact Uneed Web")
								span.icon
									include ../icons/mail
								span info@uneedweb.com

		//- #contact-footer
		//- 	h1.title.dark Still have a questions?
		//- 	h2.sub-title You can always send us a message, tweet or e-mail. We'd be happy to help you out.

		//- 	a(href="/services")
		//- 		button(role="button")
		//- 			span Go to our Services
		//- 			span.icon
		//- 				include ../icons/arrow-go

		include ../parts/footer
		script(type="text/javascript" src="/js/contact-us.min.js")

