doctype html
html(lang="en")
	include ../../parts/head
	body#contact-us-result-page
		include ../../parts/header
		include ../../parts/mobile-nav

		#contact-result
			.container
				h1.title.dark Thanks for contacting us!
				h2.sub-title We will reach you out soon

		include ../../parts/footer
		script(type="text/javascript" src="/js/contact-us.min.js")

