html, body
	height 100%
	margin 0

*
	box-sizing: border-box

@font-face
	font-family: 'Circe'
	src: url('../fonts/CirceRegular/Circe-Regular.eot'),
		url('../fonts/CirceRegular/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CirceRegular/Circe-Regular.woff') format('woff'),
		url('../fonts/CirceRegular/Circe-Regular.ttf') format('truetype'),
		url('../fonts/CirceRegular/Circe-Regular.svg#webfont') format('svg')
	text-rendering: optimizeLegibility

.flex
	display flex
	&.flex-row
		flex-direction row
	&.flex-column
		flex-direction column
	&.align-hor-center
		justify-content center
	&.align-ver-center
		align-items center

a
	text-decoration: none
	color: #576076
	&:visited
		text-decoration: none
		color: #576076

button, input 
	outline: none

button
	cursor: pointer
	padding: .9rem 2.8rem
	border-radius: 4px
	background-color: transparent
	border: solid 2px #8492af
	font-size: 16px
	letter-spacing: .3px
	color: #8492af
	position: relative
	transition: color, border-color .3s ease
	z-index: 1
	&:before
		position: absolute
		z-index: -1
		content: ''
		top: 0
		left: 0
		border-radius: 2px
		background-color: #ff6955
		transition: width .3s ease
		height: 100%
		width: 0%
	&:hover, &:focus
		color: white
		border-color: #ff6955
		&:before
			width: 100%

h1.title
	font-family Roboto
	font-size 30px
	font-weight 100
	text-align center
	color #ffffff
	&.dark
		color: #0e1a35
	@media screen and (min-width: $screenMedium)
		font-size: 60px
		font-weight: 100
	
h2.sub-title
	font-size: 16px
	font-weight: 400
	line-height: 1.5
	text-align: center
	color: #8492af
	@media screen and (min-width: $screenMedium)
		width: 40rem
		margin: auto
		font-size: 18px
		line-height: 1.33

.gradient
	height: 6px
	width: 100%
	background-image: linear-gradient(to left, #4444b9, #ec523e)
	
.container
	padding 0 1.5rem
	margin-right auto
	margin-left auto

	@media screen and (min-width: $screenSmall)
		width: 750px

	@media screen and (min-width: $screenMedium)
		width: 970px

	@media screen and (min-width: $screenLarge)
		width: 1170px

body
	font-weight: 300
	font-size: 16px
	line-height: 1.5
	font-family: 'Roboto'
	-webkit-font-smoothing: antialiased
	text-rendering: optimizelegibility
	overflow-x: hidden
	
	&.navbar-expanded
		.mobile-nav
			transform: translateY(0)
		#toggle-navbar
			justify-content: center
			.icon-bar:nth-child(1)
				transform: rotate(-45deg) translateY(2px)
			.icon-bar:nth-child(2)
				display: none
			.icon-bar:nth-child(3)
				transform: rotate(45deg) translateY(-2px)

.mobile-nav
	position: fixed
	width: 100%
	height: 100%
	transition: transform .3s ease
	transform: translateY(-100%)
	background-color: #0e1a35
	z-index: 1
	padding: 2rem 0
	overflow-y: auto
	.menu-list
		padding-top: 2rem
		.menu-item
			font-size: 16px
			text-transform: uppercase
			line-height: 3.75
			font-weight: 400
			&:hover
				a
					color: #ffffff

header
	position: absolute
	nav
		display: flex
		align-items: center
		margin-top: 1rem
		.container
			padding-left: 1rem
		.menu-container
			display: none
		.logo-container
			display: flex
			align-items: center
		.logo
			margin-right: .5rem
		.logo-text-container
			display: flex
			flex-direction: column
			justify-content: center
			.logo-text
				margin-bottom: 3px
			.company-subname
				font-family: Circe
				text-transform: uppercase
				font-size: 6.9px
				line-height: 1.59
				letter-spacing: 2.4px
				text-align: center
				color: #ffffff
	@media screen and (min-width: $screenSmall)
		width: 100%
		.container
			width: 100%
		nav
			justify-content: space-between
			.logo
				width: 52px
				height: 59px
			.logo-text-container
				display: none
			.menu-container
				display: block
				.menu-list
					display: flex
					.menu-item
						cursor: pointer
						position: relative
						padding: 0 1rem
						a
							font-weight: 400
							color: white
						&:after
							content: ''
							position: absolute
							height: 2px
							left: 0
							bottom: 6px
							width: 0%
							transition: width .3s ease
							background-image: linear-gradient(to left, #ec523e, #4444b9)
						&:hover
							&:after
								width: 100%

	@media screen and (min-width: $screenMedium)
		.container
			padding: 1rem 2rem
		nav
			align-items: stretch
			.logo
				margin-right: 1rem
			.logo-text-container
				display: flex !important
				.logo-text
					width: 113px
					height: 26px
				.company-subname
					font-size: 10px
					line-height: 1.59
					letter-spacing: 3.5px
				
	#toggle-navbar
		background-color: transparent
		border: none
		position: fixed
		z-index: 2
		top: 1.6rem
		right: 1rem
		height: 1.4rem
		width: 2rem
		display: flex
		flex-direction: column
		justify-content: space-between
		.icon-bar
			height: 4px
			width: 100%
			border-radius: 2px
			background-color: white
			transition: transform .3s ease
		@media screen and (min-width: $screenSmall)
			display: none
	
.menu-list
	.menu-item
		font-size: 15px
		line-height: 3.0
		letter-spacing: 0.3px
		text-align: center
		color: #8492af
		transition: color .3s ease
		&:hover
			color: #c3cee4
			
footer
	padding: 2rem 0
	background-color: #0e1a35
	.subscribe
		h1
			margin: 2rem 0
			font-size: 18px
			text-align: center
			color: #f3f8ff
		.subscribe-form
			display: flex
			flex-direction: row
			input
				border-radius: 4px 0 0 4px
				background-color: #0e1a35
				border: solid 1px #576076
				padding: 1rem
				color: #576076
				flex: 1
				&::-webkit-input-placeholder
					font-size: 13px
					line-height: 1.38
					letter-spacing: 0.3px
					color: rgba(90, 99, 121, 0.5)
			button
				position: relative
				left: -1px
				border-radius: 0 4px 4px 0
				background-color: #576076
				font-size: 13px
				line-height: 1.38
				letter-spacing: 0.3px
				color: #ffffff
				border: none
				transition: background-color .3s ease
				&:hover, &:focus
					background-color: #8492af
	.contacts
		margin: 2rem auto
		width: 11rem
		font-size: 13px
		text-align: center
		color: #576076
		p
			margin: 0
		address
			font-style: normal
			margin-bottom: 1rem
			
	.copyright
		font-size: 13px
		line-height: 2.31
		text-align: center
		color: #5a6379
		&.desktop
			display: none
		
	@media screen and (min-width: $screenSmall)
		.subscribe-form
			width: 20rem
			margin: auto
	
	@media screen and (min-width: $screenMedium)
		.container
			width: 100%
			display: flex
			justify-content: space-between
			align-items: center
			.menu-container
				.menu-list
					display: flex
					.menu-item
						margin: 0 1rem
			.contacts
				margin: 0
				text-align: left
			.subscribe
				h1
					text-align: left
					margin: 0 0 1rem 0
			.copyright.desktop
				display: block
				text-align: left
				margin-left: 1rem
			.copyright.mobile
				display: none
		