@import 'variables'
@import 'bower_components/swipeshow/jquery.swipeshow.css'
@import 'general'
@import 'services'
@import 'contact-us'
@import 'portfolio'

body.content-loaded
	#landing
		.background-image
			animation: enterScale 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards

#about-page

	header
		background: transparent

	#landing
		padding-top: 3rem
		height 100%
		position: relative
		text-align: center
		min-height: 500px
		.container
			position: relative
			z-index: 1
		.background-image
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			z-index: -1
			transform: scale(1.2)
			background-image url('/photos/landing.jpg')
			background-size: cover
			background-position: 50%
			background-repeat: no-repeat
		.title
			font-weight: 300
			margin-bottom: 1.25rem
		.sub-title
			margin-bottom: 2rem
		#scroll-down
			position: absolute
			bottom: 0
			right: 0
			left: 0
			margin: auto
			width: 5rem
			height: 5rem
			cursor: pointer
			&:before, &:after
				top: 0
				left: 0
				right: 0
				bottom: 0
				margin: auto
				content: ''
				width: 1.3rem
				height: 2px
				background-color: #667891
				transition: background-color .3s ease
				position: absolute
			&:before
				transform: rotate(45deg) translateX(-45%)
			&:after
				transform: rotate(-45deg) translateX(45%)
			&:hover
				&:before, &:after
					background-color: white
				
		@media screen and (min-width: $screenMedium)
			padding-top: 0
			
	#services
		flex-direction: column
		.container
			width: 100%
			padding-top: 2.5rem
			padding-bottom: 2.5rem
			background-color: #f3f8ff
			border: solid 1px #e3eaf3
		.service-list
			list-style: none
			text-align: left
			font-size: 14px
			font-weight: 400
			line-height: 1.7
			color: #0e1a35
			margin-bottom: 1.75rem
			margin-top: 1.25rem
			padding-left: 0
			width: 13rem
			li
				position: relative
			svg
				position: absolute
				left: -1.4rem
				top: .45rem
		.service-description
			display: flex
			flex-direction: column
			justify-content: center
			text-align: left
		.service-image
			margin: 0 auto
		.service-title
			font-size: 18px
			font-weight: bold
			margin: 1rem 0 0 0
			letter-spacing: 0.4px
		.service-subtitle
			font-size: 14px
			line-height: 1
			letter-spacing: 0.3px
		@media screen and (min-width: $screenSmall)
			.container
				width: 100%
				flex-direction: row
				justify-content: center
			.service-description
				width: 23rem
				h1, h2
					text-align: left
				button
					width: 13rem
			.service-image
				margin: 0 3rem 0 0
		@media screen and (min-width: $screenMedium)
			flex-direction: row
			justify-content: center
			align-items: stretch
			.container.service
				width: 20rem
				margin: 0 2rem
				flex-direction: column
				cursor: pointer
				border-radius: 4px
				transition: box-shadow .3s ease
				&:hover
					box-shadow: 0 0 20px 0 rgba(195, 206, 228, 0.5);
				.service-description
					text-align: center
					align-items: center
					width: 100%
					h1.title
						text-align: center
						margin-bottom: 0.5rem
					h2.sub-title
						width: auto
						text-align: center
				.service-image
					margin: auto
			
	#about-services
		font-size: 16px
		font-weight: 400
		line-height: 1.5
		text-align: center
		color: #8492af
		@media screen and (min-width: $screenSmall)
			width: 35rem
			margin: auto
			font-size: 18px
			line-height: 1.33
		@media screen and (min-width: $screenMedium)
			.container
				width: 30rem

	#guarantee
		background-color: #0e1a35
		.sub-title
			color: #8c9ab5
		.features-container
			margin-top: -1rem
			margin-bottom: 5rem
			.feature
				padding: 0 1rem
				margin: 1rem 0
				display: flex
				align-items: center
				justify-content: flex-start
				svg
					min-width: 68px
					min-height: 76px
					margin-right: 1rem
				span
					font-size: 16px
					font-weight: 400
					opacity: .8
					letter-spacing: 0.3px
					color: #fefefe
					&.intellectual
						width: 13rem
		@media screen and (min-width: $screenSmall)
			.title
				font-size: 48px
				line-height: 1
			.sub-title
				font-size: 18px
			.features-container
				display: flex
				flex-direction: row
				flex-wrap: wrap
				.feature
					width: 50%
		@media screen and (min-width: $screenMedium)
			.features-container
				justify-content: center
				.feature
					width: 24rem

	#portfolio
		text-align: center
		padding-bottom: 5rem
		#switcher
			margin-bottom: 3.125rem
		.desktop-button
			display: none
		.swipeshow-active .slides
			cursor: default
		.portfolio-slides
			width: 100%
			.slide
				width: 100%
				.portfolio-image
					height: 300px
					background-size: cover
					margin: auto
					margin-top: 1rem
					&.web
						background-image: url('/images/png/hp-1-web.png')
					&.mobile
						background-image: url('/images/png/hp-2-mobile.png')
					&.design
						background-image: url('/images/png/hp-3-design.png')
				.sub-title
					font-size: 14px
					line-height: 1.38
					letter-spacing: 0.3px
					margin-bottom: 1rem
		@media screen and (min-width: $screenSmall)
			.portfolio-slides .slide
				.portfolio-image
					height: 400px
					width: 500px
		@media screen and (min-width: $screenMedium)
			.portfolio-slides .slide
				overflow: hidden
				.sub-title
					text-align: left
					width: auto
				.tags
					justify-content: flex-start
				.portfolio-item
					padding-right: 300px
					width: 722px
					margin: auto
					position: relative
					min-height: 22rem
				.portfolio-image
					width: 758px
					height: 350px
					position: absolute
					top: -15px
					right: -100%
					transform: translateX(-300px)
					background-size: contain
					background-repeat: no-repeat
					&.web
						top: -40px
			.desktop-button
				display: block
				text-align: left
				margin-top: 3.125rem
			.dots, .mobile-button
				display: none
