#portfolio-page

	#description
		padding-top: 7rem
		
	#switcher
		margin-bottom: 3.125rem

	#projects
		.container
			padding: 0
			width: 100%
			max-width: 1400px
		.project
			position: relative
			width: 100%
			height: 400px
			border-bottom: 1px solid white
			transform scale(0)
			transition: transform .3s ease
			overflow: hidden
			.project-background
				transform: scale(1)
				transition: transform .5s linear
				background-size: cover
				background-image: url('/photos/travel/travel-portfolio-grid.png')
			&.travel
				.project-background
					background-image: url('/photos/travel/travel-portfolio-grid.png')
			&.sport
				.project-background
					background-image: url('/photos/sport/sport-portfolio-grid.png')
			&.yow
				.project-background
					background-image: url('/photos/yow/yow-portfolio-grid.png')
			&.banking
				.project-background
					background-image: url('/photos/banking/banking-portfolio-grid.png')
			&.gambling
				.project-background
					background-image: url('/photos/gambling/gambling-portfolio-grid.png')
			&.localisation
				.project-background
					background-image: url('/photos/localisation/localisation-portfolio-grid.png')
			&.social-travel
				.project-background
					background-image: url('/photos/social-travel/social-travel-portfolio-grid.png')
			.overlay, .project-background
				width: 100%
				height: 100%
				position: absolute
				bottom: 0
				left: 0
			.project-content
				display: flex
				flex-direction: column
				justify-content: space-between
				width: 100%
				height: 100%
				position: relative
				z-index: 1
			.project-footer
				display: flex
				flex-direction: column
				text-align: center
			.overlay
				opacity: 0.5
				transition: opacity .3s ease
				background-color: #102640
			.name
				font-size: 18px
				letter-spacing: 0.4px
				text-align: center
				font-weight: 400
				color: white
			.description
				transition: opacity .5s ease
				font-size: 14px
				letter-spacing: 0.3px
				font-weight: 400
				padding: 0 2rem 3rem 2rem
				text-align: center
				color: rgba(248, 249, 251, 0.5)
			a
				text-align: center
				transition: opacity .5s ease
				button
					bottom: 2rem
					margin: auto
					border-color: solid 2px #8492af
		&.all-filter
			.project
				animation: appear .5s ease forwards
		&.web-filter
			.project
				&.web
					animation: appear .5s ease forwards
				&:not(.web)
					display: none
		&.mobile-filter
			.project
				&.mobile
					animation: appear .5s ease forwards
				&:not(.mobile)
					display: none
		&.design-filter
			.project
				&.design
					animation: appear .5s ease forwards
				&:not(.design)
					display: none
		@media screen and (min-width: $screenSmall)
			margin-top: 1rem
			.container
				display: flex
				flex-wrap: wrap
			.project
				width: 50%
				border-right: 1px solid white
				.overlay
					opacity: 0
					transition: opacity .5s linear
				.description, .details-link
					visibility: hidden
					opacity: 0
				&:hover, &:focus, &:active
					.project-background
						transform: scale(1.2)
					.overlay
						opacity: .5
					.project-content
						animation: appearToTop .5s linear forwards
					.description, .details-link
						opacity: 1
						visibility: visible
		@media screen and (min-width: $screenMedium)
			.project
				width: 33.3%
				
	#result
		background-color: #f3f8ff
		border: solid 1px #e3eaf3
		text-align: center
		h2
			width: 90%
			margin: 0 auto 3.25rem auto
		.fe-dev, .be-dev
			margin-bottom: 0.5rem
		.tags
			margin-bottom: 2.5rem
		@media screen and (min-width: $screenSmall)
			h2
				width: 35rem
			.fe-dev, .be-dev
				margin-bottom: 0.5rem
			.tags
				width: 35rem
				margin: auto
				margin-bottom: 2.5rem

#portfolio-page, #portfolio-project-page			
	h2.type
		font-size: 13px
		letter-spacing: 0.3px
		color: white
		opacity: .5
		text-transform: uppercase
		text-align: center
		padding: .5rem 0

#portfolio-project-page
	header
		background: transparent

	#landing
		height 20rem
		position: relative
		background-image url('/photos/landing-small.jpg')
		background-size: 1200px
		background-position: 50% 25%
		background-repeat: no-repeat
		@media screen and (min-width: $screenSmall)
			background-size: cover

	#description
		padding-top: .5rem
		.buttons-container
			width: 100%
			display: flex
			justify-content: space-between
			align-items: center
			button
				border: none
				transition: color .3s ease
				&:hover
					color: black
					&:before
						content: none
					svg
						path
							fill: black
		.prev-project, .next-project
			display: none
		.type
			color: #8492af
		h1.title
			margin-top: 0
		.tags
			margin: 2rem 0
			
		// arrow was rotated since tablet width

		// @media screen and (min-width: $screenSmall)
		.prev-project, .next-project
			display: block
			&:hover
				background-color: transparent
		.prev-project
			.icon
				svg
					transform: rotate(180deg)
					
		// -----------------------------------------------------

	#technologies
		.tags
			margin-top: 2rem
		@media screen and (min-width: $screenSmall)
			.tags
				margin: 2rem auto 0 auto
				width: 40rem
			
	#approaches
		background-size: cover
		h2.sub-title
			font-weight: 300
			color: #f3f8ff
		&.travel
			background-image: url('/photos/travel/travel-image-1.png')
		&.sport
			background-image: url('/photos/sport/sport-image-1.png')
		&.banking
			background-image: url('/photos/banking/banking-image-1.png')
		&.gambling
			background-image: url('/photos/gambling/gambling-image-1.png')
		&.localisation
			background-image: url('/photos/localisation/localisation-image-1.png')
		&.social-travel
			background-image: url('/photos/social-travel/social-travel-image-1.png')

	#gallery
		.container
			width: 100%
			padding: 0
			.gallery-container
				height: 18rem
				width: 100%
				.slides
					height: 13rem
				&.travel
					.slide
						background-size: cover
						&:nth-child(1)
							background-image: url('/photos/travel/travel-gallery-1.png')
						&:nth-child(2)
							background-image: url('/photos/travel/travel-gallery-2.png')
				&.sport
					.slide
						background-size: cover
						&:nth-child(1)
							background-image: url('/photos/sport/sport-gallery-1.png')
						&:nth-child(2)
							background-image: url('/photos/sport/sport-gallery-2.png')
				&.yow
					.slide
						background: no-repeat center
						background-size: contain
						&:nth-child(1)
							background-image: url('/photos/yow/yow-gallery-1.png')
						&:nth-child(2)
							background-image: url('/photos/yow/yow-gallery-2.png')
						&:nth-child(3)
							background-image: url('/photos/yow/yow-gallery-3.png')
				&.banking
					.slide
						background-size: cover
						&:nth-child(1)
							background-image: url('/photos/banking/banking-gallery-1.png')
						&:nth-child(2)
							background-image: url('/photos/banking/banking-gallery-2.png')
				&.gambling
					.slide
						background-size: cover
						&:nth-child(1)
							background-image: url('/photos/gambling/gambling-gallery-1.png')
						&:nth-child(2)
							background-image: url('/photos/gambling/gambling-gallery-2.png')
				&.localisation
					.slide
						background-size: cover
						&:nth-child(1)
							background-image: url('/photos/localisation/localisation-gallery-1.png')
						&:nth-child(2)
							background-image: url('/photos/localisation/localisation-gallery-2.png')
				&.social-travel
					.slide
						background-size: cover
						&:nth-child(1)
							background-image: url('/photos/social-travel/social-travel-gallery-1.png')
						&:nth-child(2)
							background-image: url('/photos/social-travel/social-travel-gallery-2.png')
						&:nth-child(3)
							background-image: url('/photos/social-travel/social-travel-gallery-3.png')
				.dots
					position: absolute
					bottom: 0
					left: 0
			@media screen and (min-width: $screenSmall)
				.gallery-container
					height: 29rem
					.slides
						height: 25rem
			@media screen and (min-width: $screenMedium)
				.gallery-container
					margin: auto
					max-width: 700px
	#back
		padding-top: 3.125rem
		padding-bottom: 5rem
		text-align: center