#portfolio-page
	
	#description
		padding-top: 7rem
		
	#switcher
		margin-top: 3rem
		margin-bottom: 3rem

	#projects
		.container
			padding: 0
			width: 100%
		.project
			position: relative
			width: 100%
			height: 400px
			background-size: cover
			border-bottom: 1px solid white
			background-image: url('/photos/travel/travel-portfolio-grid.png')
			&.travel
				background-image: url('/photos/travel/travel-portfolio-grid.png')
			&.sport
				background-image: url('/photos/sport/sport-portfolio-grid.png')
			&.yow
				background-image: url('/photos/yow/yow-portfolio-grid.png')
			&.banking
				background-image: url('/photos/banking/banking-portfolio-grid.png')
			&.gambling
				background-image: url('/photos/gambling/gambling-portfolio-grid.png')
			&.localisation
				background-image: url('/photos/localisation/localisation-portfolio-grid.png')
			&.social-travel
				background-image: url('/photos/social-travel/social-travel-portfolio-grid.png')
			.overlay, .project-content
				width: 100%
				height: 100%
				position: absolute
				top: 0
				left: 0
			.project-content
				display: flex
				flex-direction: column
				justify-content: space-between
			.project-footer
				display: flex
				flex-direction: column
				text-align: center
			.overlay
				opacity: 0.5
				transition: opacity .3s ease
				background-color: #102640
			.name
				font-size: 18px
				letter-spacing: 0.4px
				text-align: center
				font-weight: 400
				color: white
			.description
				transition: opacity .5s ease
				font-size: 14px
				letter-spacing: 0.3px
				font-weight: 400
				padding: 0 2rem 3rem 2rem
				text-align: center
				color: rgba(248, 249, 251, 0.5)
			a
				text-align: center
				transition: opacity .5s ease
				button
					bottom: 2rem
					margin: auto
					border-color: solid 2px #8492af
		@media screen and (min-width: $screenSmall)
			margin-top: 1rem
			.container
				display: flex
				flex-wrap: wrap
			.project
				width: 50%
				border-right: 1px solid white
				.overlay, .description, .details-link
					visibility: hidden
					opacity: 0
				&:hover, &:focus, &:active
					.overlay
						opacity: .5
						visibility: visible
					.description, .details-link
						opacity: 1
						visibility: visible
		@media screen and (min-width: $screenMedium)
			.project
				width: 33.33%
				
	#result
		padding: 2rem 0 4rem 0
		background-color: #f3f8ff
		border: solid 1px #e3eaf3
		text-align: center
		h2
			width: 90%
			padding-bottom: 1rem
			margin: auto
		@media screen and (min-width: $screenSmall)
			h2
				padding-bottom: 2rem
				width: 35rem

#portfolio-page, #portfolio-project-page			
	h2.type
		font-size: 13px
		letter-spacing: 0.3px
		color: white
		opacity: .5
		text-transform: uppercase
		text-align: center
		padding: .5rem 0

#portfolio-project-page
	header
		background: transparent

	#landing
		padding-top: 3rem
		height 20rem
		position: relative
		background-image url('/photos/landing.jpg')
		background-size: 1200px
		background-position: 50% 25%
		background-repeat: no-repeat
		@media screen and (min-width: $screenSmall)
			background-size: cover

	#description
		padding: 2rem 0 4rem 0
		.buttons-container
			width: 100%
			display: flex
			justify-content: space-between
			align-items: center
			button
				border: none
				transition: color .3s ease
				&:hover
					color: black
					&:before
						content: none
					svg
						path
							fill: black
			.prev-project
				.icon
					svg
						transform: rotate(180deg)
		.type
			color: #8492af
		h1.title
			margin-top: 0
		.tags
			margin: 2rem 0
		@media screen and (min-width: $screenSmall)
			.tags
				margin: 2rem auto
				width: 40rem
			
	#approaches
		padding: 1rem 0 5rem 0
		background-size: cover
		h2.sub-title
			font-weight: 300
			color: #f3f8ff
		&.travel
			background-image: url('/photos/travel/travel-image-1.png')
		&.sport
			background-image: url('/photos/sport/sport-image-1.png')
		&.yow
			background-image: url('/photos/yow/yow-image-1.png')
		&.banking
			background-image: url('/photos/banking/banking-image-1.png')
		&.gambling
			background-image: url('/photos/gambling/gambling-image-1.png')
		&.localisation
			background-image: url('/photos/localisation/localisation-image-1.png')
		&.social-travel
			background-image: url('/photos/social-travel/social-travel-image-1.png')

	#gallery
		.container
			width: 100%
			padding: 0
			padding-bottom: 3rem
			.gallery-container
				height: 18rem
				width: 100%
				.slides
					height: 13rem
				&.travel
					.slide
						background-size: cover
						&:nth-child(1)
							background-image: url('/photos/travel/travel-gallery-1.png')
						&:nth-child(2)
							background-image: url('/photos/travel/travel-gallery-2.png')
				&.sport
					.slide
						background-size: cover
						&:nth-child(1)
							background-image: url('/photos/sport/sport-gallery-1.png')
						&:nth-child(2)
							background-image: url('/photos/sport/sport-gallery-2.png')
				&.yow
					.slide
						background-size: cover
						&:nth-child(1)
							background-image: url('/photos/yow/yow-gallery-1.png')
						&:nth-child(2)
							background-image: url('/photos/yow/yow-gallery-2.png')
				&.banking
					.slide
						background-size: cover
						&:nth-child(1)
							background-image: url('/photos/banking/banking-gallery-1.png')
						&:nth-child(2)
							background-image: url('/photos/banking/banking-gallery-2.png')
				&.gambling
					.slide
						background-size: cover
						&:nth-child(1)
							background-image: url('/photos/gambling/gambling-gallery-1.png')
						&:nth-child(2)
							background-image: url('/photos/gambling/gambling-gallery-2.png')
				&.localisation
					.slide
						background-size: cover
						&:nth-child(1)
							background-image: url('/photos/localisation/localisation-gallery-1.png')
						&:nth-child(2)
							background-image: url('/photos/localisation/localisation-gallery-2.png')
				&.social-travel
					.slide
						background-size: cover
						&:nth-child(1)
							background-image: url('/photos/social-travel/social-travel-gallery-1.png')
						&:nth-child(2)
							background-image: url('/photos/social-travel/social-travel-gallery-2.png')
						&:nth-child(3)
							background-image: url('/photos/social-travel/social-travel-gallery-3.png')
				.dots
					position: absolute
					bottom: 0
					left: 0
			@media screen and (min-width: $screenSmall)
				.gallery-container
					height: 29rem
					.slides
						height: 25rem
			@media screen and (min-width: $screenMedium)
				.gallery-container
					margin: auto
					max-width: 700px
	#back
		padding-top: 2rem
		padding-bottom: 5rem
		text-align: center