#services-page
	#description
		padding-top: 7rem
		padding-bottom: 1rem
		h2.sub-title
			font-weight: 300
		@media screen and (min-width: $screenSmall)
			padding-bottom: 3rem
			h1.title
				margin-bottom: 1rem
				font-size: 48px
			h2.sub-title
				width: 100%
				margin: auto
	
	#service-description
		font-size: 18px
		font-weight: 300
		line-height: 1.33
		text-align: center
		color: #8492af
		padding-top: 1rem
		padding-bottom: 2rem

	#service-table
		width: 100%
		.swipeshow
			height: auto
			.slide
				height: auto
				position: static
			.slides
				height: 100%
				position: relative
				display: flex
				flex-direction: row
				flex-wrap: nowrap
		.services-titles
			display: none
		.services-slides
			width: 100%
		.slide-header-container
			display: flex
			justify-content: center
			align-items: center
			padding: 0.5rem 1rem
			background-color: #f3f8ff
			.slide-left, .slide-right
				width: 3rem
				height: 3rem
				border-radius: 4px
				border: solid 2px #778ab4
				transition: border-color .3s ease
				&:hover
					border: solid 2px #576076
			.slide-header
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
				text-align: center
				font-weight: 400
				text-transform: uppercase
				font-size: 13px
				letter-spacing: 0.3px
		.slide-option
			display: flex
			justify-content: space-between
			align-items: center
			background-color: #fafafc
			border-top: solid 1px #e3eaf3
			padding: 1rem
			font-size: 13px
			font-weight: 400
			letter-spacing: 0.3px
			text-align: left
			color: #8492af
			&.footer
				justify-content: center
				padding: 1rem
				cursor: pointer
				background-color: #576076
				a	
					text-align: center
					color: white
					font-size: 16px
					letter-spacing: 0.3px
					font-weight: 400
				transition: background-color .3s ease
				&:hover
					background-color: #8492af
			&.button
				justify-content: center
				padding: 2rem
			.option-name
				padding-right: 2rem
			.option-value
				min-width: 5rem
				text-align: right
			.option-checkbox
				min-width: 1rem
				min-height: 1rem
				border-radius: 50%
				opacity: 0.2
				background-color: #8492af
				&.checked
					opacity: 1
		@media screen and (min-width: $screenSmall)
			width: 90%
			margin: auto
			display: flex
			border-radius: 4px
			background-color: #f3f8ff
			border: solid 1px #e3eaf3
			.services-titles
				display: flex
				flex-direction: column
				flex: 1
				max-width: 18rem
				.title-option, .title-header
					background-color: #f3f8ff
					font-size: 13px
					font-weight: 400
					letter-spacing: 0.3px
					text-align: left
					color: #8492af
					border-top: 1px solid #e3eaf3
				.title-option
					padding: 1rem
				.title-header
					height: 161px
					padding: .5rem 1rem
					display: flex
					flex-direction: column
					justify-content: flex-end
				.title-option.last
					flex: 1
			.title-option, .slide-option
				height: 62px
				display: flex
				align-items: center
				&.button, &.footer
					height: auto
			.swipeshow
				flex: 1
				.slide-option
					justify-content: center
					.option-value
						text-align: center
					.option-name
						display: none
		@media screen and (min-width: $screenMedium)
			.services-titles
				flex: 0
				min-width: 15rem
				border-right: 1px solid #e3eaf3
			.swipeshow
				.slides
					width: auto !important
					transform: none !important
				.slide
					width: 100%
					visibility: visible
					border-right: 1px solid #e3eaf3
			.slide-left, .slide-right
				display: none

#service-page
	header
		background: transparent

	#landing
		padding-top: 3rem
		height 20rem
		position: relative
		background-image url('/photos/landing.jpg')
		background-size: cover
		background-position: 50% 25%
		background-repeat: no-repeat
		
	#switcher
		margin: 0 1rem
		border-bottom: 1px solid #e4e4f1
		display: flex
		justify-content: space-between
		align-items: center
		#switch-left, #switch-right
			height: 2rem
			width: 2rem
			background: black
		h2
			font-size: 13px
			letter-spacing: 0.3px
			text-transform: uppercase
			position: relative
			&:after
				content: ''
				width: 11rem
				height: 2px
				background-color: #8492af
				position: absolute
				left: 0
				right: 0
				bottom: -12px
				margin: auto
	
	#description
		padding-top: 2rem
		padding-bottom: 4rem
		h1
			font-size: 24px
			text-align: left
			color: #0e1a35
		h2
			text-align: left
			
	#workflow
		padding: 2rem 0
		background-color: #0e1a35
		h1
			font-size: 18px
			font-weight: 300
			letter-spacing: 0.4px
			text-align: left
			color: #fefefe
		ul
			list-style-type: none
			padding: 0 2rem
			li
				position: relative
				font-size: 14px
				font-weight: 400
				letter-spacing: 0.3px
				color: #8492af
				padding: .5rem 0 .5rem 1.5rem
				&:before
					content: ''
					position: absolute
					top: 0
					bottom: 0
					left: -0.5rem
					margin: auto
					width: 1rem
					height: 1rem
					border-radius: 50%
					background-color: red
			.workflow-item-1:before
				background-color: #e25245
			.workflow-item-2:before
				background-color: #cb5056
			.workflow-item-3:before
				background-color: #b74e65
			.workflow-item-4:before
				background-color: #a44c73
			.workflow-item-5:before
				background-color: #8f4b82
			.workflow-item-6:before
				background-color: #794992
			.workflow-item-7:before
				background-color: #6b479d
			.workflow-item-8:before
				background-color: #5b46a8
					
	#result
		padding: 2rem 0 4rem 0
		background-color: #f3f8ff
		border: solid 1px #e3eaf3
		text-align: center
		h2
			width: 90%
			padding-bottom: 1rem
			margin: auto