$main-font = Roboto

$main-color = #0e1a35
$main-color--on-game = #333
$main-color--yow = #372f57

$transition-duration = 0.3s

$tablet-widths = "(min-width: 768px)"
$tablet-landscape-widths = "(min-width: 1024px)"
$desktop-widths = "(min-width: 1200px)"
$desktop-large-widths = "(min-width: 1400px)"
$mobile-widths-only = "(max-width: 767px)"

$retina = "(min-resolution: 144dpi), (min-resolution: 1.5dppx)"