// dimentions
$screenXSmall = 480px
$screenSmall = 768px
$screenMedium = 992px
$screenLarge = 1200px
$screenLargeXLarge = 1300px
$screenXLarge = 1400px
// end dimentions

@keyframes enterScale {
	0% {
		transform: scale(1.2)
	}
	100% {
		transform: scale(1.0)
	}
}