// $screenXSmall = 480px
// $screenSmall = 768px
// $screenMedium = 992px
// $screenLarge = 1200px
// $screenLargeXLarge = 1300px
// $screenXLarge = 1400px

$main-font = Roboto
$main-color = #0e1a35

$tablet-widths = "(min-width: 768px)"
$desktop-widths = "(min-width: 1200px)"
$desktop-large-widths = "(min-width: 1400px)"
$mobile-widths-only = "(max-width: 767px)"

$retina = "(min-resolution: 144dpi), (min-resolution: 1.5dppx)"

@keyframes enterScale
	0%
		transform: scale(1.2)
	100%
		transform: scale(1.0)

@keyframes pop
	0%
		opacity:0
		transform: scale(.5)
	50%
		opacity: 1
	100%
		opacity: 1
		transform: scale(1)
		
@keyframes appear
	0%
		transform: scale(0)
		opacity: 0
	100%
		opacity: 1
		transform: scale(1)

@keyframes disappear
	0%
		transform: scale(1)
		opacity: 1
	100%
		opacity: 0
		transform: scale(0)
		display: none

@keyframes appearToTop
	0%
		transform: translateY(17px)
		opacity: 0
	100%
		opacity: 1
		transform: translateY(0)

@keyframes jumping
	0%
		transform: translateY(0)
	50%
		transform: translateY(7px)
	100%
		transform: translateY(0)
		
@keyframes appearFromHidden
	0%
		visibility: hidden
		opacity: 0
	100%
		opacity: 1
		visibility: visible

@keyframes disappearToHidden
	0%
		opacity: 1
		visibility: visible
	100%
		visibility: hidden
		opacity: 0