#portfolio-project-page
	
	#top-yow
		min-height: 269px
		background: url('../images/YOW/yow-top-background.png') no-repeat top right 40%
		background-size: 150%

	#description
		
		.buttons-container
			button
				display: block
				font-size: 0
				&.prev-project
					padding-left: 0
				&.next-project
					padding-right: 0
		
		.section-top
			padding-top: 3rem

	.yow-decorative-block
		min-height: 280px
		background: no-repeat center
		&-logo
			background-image: url('../images/YOW/icon-3.png')
			background-color: #413357
		&-map
			background-image: url('../images/YOW/about-image.png')
			background-size: contain
		&-phone
			background-image: url('../images/YOW/share-image.png')
			background-size: contain
			
	#about
		padding-top: 81px
		background-image: linear-gradient(to bottom, #f6f7fa, #ffffff)
		
		.section-top
			padding-top: 1.8rem
			
	#share
		
		.section-top
			padding-top: 2.5rem
	
	#features
		margin-bottom: 79px
		background: url('../photos/YOW/yow-features-background.jpg') no-repeat top left -150px
		background-size: cover
		
		.title
			margin-bottom: 91px

		.features-list
			padding: 0
			margin: 0
			list-style: none
			
			.feature-item
				padding-top: 97px
				padding-bottom: 51px
				background: no-repeat top center
				&-offline-work
					background-image: url('../images/YOW/ic-1-offline.svg')
				&-stor-pict
					background-image: url('../images/YOW/ic-2-storing.svg')
				&-smart-adviser
					background-image: url('../images/YOW/ic-3-smart.svg')

			.feature-name
				margin: 0
				margin-bottom: 11px
				font-size: 18px
				letter-spacing: 0.4px
				font-weight: normal
				text-align: center
				color: #ffffff
			
			.feature-descr
				margin: 0
				font-size: 14px
				font-weight: 300
				letter-spacing: 0.3px
				text-align: center
				color: #ffffff
				
	&.project-yow

		footer
			background-color: #372f57